<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<footer id='main-footer'>
	<div  class='version'>
		<span>Smartdata Platform Backoffice -  V <span app-version></span></span>
	</div>
	<div>
		<a href="/userportal" target='_blank'><img src="img/logo_userportal_footer.png" alt="Userportal" /></a>
	</div>
	<div>
		<a href="http://www.smartdatanet.it" target='_blank'><img src="img/logo_sdp_footer.png" alt="smartdatanet.it" /></a>
	</div>
	<div>
		<a href="http://www.regione.piemonte.it" target='_blank'><img src="img/logo_regionepiemonte_footer.png" alt="Regione Piemonte" /></a>
	</div>
	<div>
		<a href="http://www.csipiemonte.it" target='_blank'><img src="img/logo_csipiemonte_footer.png" alt="CSI Piemonte" /></a>
	</div>
</footer>
