<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->
<div class='home-welcome '>
	<div class='home-welcome-left'>
		<a href='{{yuccaIntroUrl}}' class='back_to_intro_link'><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<span translate>BACK_TO_INTRO</span></a>
		<div class="jumbotron ">
			<div class='logocontainer'>
				<img src='./img/logoyucca.png' alt='yucca' />
			</div>
			<div class='titlecontainer'>
				<h1 class='nowrap'>Yucca Userportal</h1>
				<p class='nowrap'>Il punto di controllo della piattaforma</p>
			</div>
		</div>
		<div class="home-actionbutton home-loggedin home-actionbutton-desktop" ng-show="user.loggedIn">
			<div>
					<a href="#/dataexplorer/search" class="btn btn-home btn-search" role="button" ng-mouseover='currentAction = "data"'
						ng-mouseout='currentAction = ""'>Ricerca</a>
			</div>
			<div>
				<a href="#/dataexplorer/subscriptions" class="btn btn-home btn-subscr" role="button" ng-mouseover='currentAction = "subscription"'
						ng-mouseout='currentAction = ""'>Sottoscrizioni</a>
			</div>
			<div>
				<a href="#/management/streams/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button"
						ng-mouseover='currentAction = "stream"' ng-mouseout='currentAction = ""'>Stream</a>
			</div>
			<div>
				<a href="#/management/datasets/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button"
						ng-mouseover='currentAction = "dataset"' ng-mouseout='currentAction = ""'>Dataset</a>
			</div>
		</div>
		<div class="home-actionbutton-mobile home-actionbutton home-loggedin" ng-show="user.loggedIn">
			<div>
					<a href="#/dataexplorer/search" class="btn btn-home btn-search" role="button">Ricerca</a>
			</div>
			<div>
				<a href="#/dataexplorer/subscriptions" class="btn btn-home btn-subscr" role="button">Sottoscrizioni</a>
			</div>
			<div>
				<a href="#/management/streams/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button">Stream</a>
			</div>
			<div>
				<a href="#/management/datasets/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button">Dataset</a>
			</div>
		</div>
		<div class="home-actionbutton home-actionbutton-desktop" ng-show="!user.loggedIn">
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl=%23%2Fdataexplorer%2Fsearch&typeAuth=trial"
					class="btn btn-try btn-home" role="button"
					ng-mouseover='currentAction="try-yucca"'
					ng-mouseout='currentAction=""'>Prova Yucca</a>
			</div>
			<div>
				<a href="{{yuccaIntroUrl}}/#/request-work-area"
					class="btn btn-personal btn-home" role="button"
					ng-mouseover='currentAction = "request-work-area"'
					ng-mouseout='currentAction = ""'>Richiedi Area di lavoro</a>
			</div>
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl={{currentUrl()}}&typeAuth=personal"
					class="btn btn-login btn-home" role="button"
					ng-mouseover='currentAction = "login"'
					ng-mouseout='currentAction = ""'>Accedi</a>
			</div>
		</div>
		<div class="home-actionbutton home-actionbutton-mobile" ng-show="!user.loggedIn">
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl=%23%2Fdataexplorer%2Fsearch&typeAuth=trial"
					class="btn btn-try btn-home" role="button">Prova Yucca</a>
			</div>
			<div>
				<a href="{{yuccaIntroUrl}}/#/request-work-area"
					class="btn btn-personal btn-home" role="button">Richiedi Area di lavoro</a>
			</div>
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl={{currentUrl()}}&typeAuth=personal"
					class="btn btn-login btn-home" role="button">Accedi</a>
			</div>
		</div>
	</div>
	<div class='home-welcome-right'>
		<div class='home-welcome-intro-panel' ng-if='!currentAction'>
			<p>Yucca la smart data platform della Regione Piemonte,
				realizzata dal CSI Piemonte con tecnologie open source e fruibile
				in cloud.</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "smartObject"'>
			<p>Puoi gestire o creare nuovi SmartObject</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "dataset"'>
			<p>Puoi gestire o creare nuovi Dataset</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "stream"'>
			<p>Puoi gestire o creare nuovi Stream</p>
		</div>
		<div class='home-welcome-intro-panel' ng-if='currentAction == "data"'>
			<p>
				Puoi ricercare e accedere tramite <strong>API</strong> ai dataset
				esistenti
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "request-work-area"'>
			<p>
				Se sei un'<strong>azienda</strong>, una <strong>pubblica
					amministrazione</strong> o un privato <strong>cittadino</strong> puoi
				richiedere un'area di lavoro personale sulla piattaforma.
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "try-yucca"'>
			<p>
				Puoi lavorare su Yucca per <strong>30 giorni</strong> in uno spazio
				di prova.<br>Accedi con il tuo profilo <strong>Facebook</strong>,
				<strong>Yahoo!</strong>
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "login"'>
			<p>
				Accedi a Yucca con le tue <strong>credenziali</strong>
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "subscription"'>
			<p>
				Puoi sottoscrivere i dataset privati per <strong>fruire i
					dati tramite API</strong>
			</p>
		</div>
	</div>
</div>