<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->
<div class='home-welcome '>
	<div class='home-welcome-left'>
		<a href='{{yuccaIntroUrl}}' class='back_to_intro_link'><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;<span translate>BACK_TO_INTRO</span></a>
		<div class="jumbotron ">
			<div class='logocontainer'>
				<img src='./img/logoyucca.png' alt='yucca'/>	
			</div>
			<div class='titlecontainer'>
				<h1 class='nowrap'>Yucca Userportal</h1>
				<p class='nowrap'>The control point of the platform</p>
			</div>
		</div>
		<div class="home-actionbutton home-loggedin home-actionbutton-desktop" ng-show="user.loggedIn">
			<div>
					<a href="#/dataexplorer/search" class="btn btn-home btn-search" role="button" ng-mouseover='currentAction = "data"'
						ng-mouseout='currentAction = ""'>Search</a>
			</div>
			<div>
				<a href="#/dataexplorer/subscriptions" class="btn btn-home btn-subscr" role="button" ng-mouseover='currentAction = "subscription"'
						ng-mouseout='currentAction = ""'>Subscriptions</a>
			</div>
			<div>
				<a href="#/management/streams/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button"
						ng-mouseover='currentAction = "stream"' ng-mouseout='currentAction = ""'>Stream</a>
			</div>
			<div>
				<a href="#/management/datasets/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button"
						ng-mouseover='currentAction = "dataset"' ng-mouseout='currentAction = ""'>Dataset</a>
			</div>

		</div>
		<div class="home-actionbutton home-loggedin home-actionbutton-mobile" ng-show="user.loggedIn">
			<div>
					<a href="#/dataexplorer/search" class="btn btn-home btn-search" role="button">Search</a>
			</div>
			<div>
				<a href="#/dataexplorer/subscriptions" class="btn btn-home btn-subscr" role="button">Subscriptions</a>
			</div>
			<div>
				<a href="#/management/streams/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button">Stream</a>
			</div>
			<div>
				<a href="#/management/datasets/{{user.activeTenant}}" class="btn btn-home btn-manage" role="button">Dataset</a>
			</div>

		</div>
		<div class="home-actionbutton home-actionbutton-desktop" ng-show="!user.loggedIn">
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl=%23%2Fdataexplorer%2Fsearch&typeAuth=trial"
					class="btn btn-try btn-home" role="button"
					ng-mouseover='currentAction = "try-yucca"'
					ng-mouseout='currentAction = ""'>Try Yucca</a>
			</div>
			<div>
				<a href="{{yuccaIntroUrl}}/#/request-work-area"
					class="btn btn-personal btn-home" role="button"
					ng-mouseover='currentAction = "request-work-area"'
					ng-mouseout='currentAction = ""'>Request a Workspace</a>
			</div>
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl={{currentUrl()}}&typeAuth=personal"
					class="btn btn-login btn-home" role="button"
					ng-mouseover='currentAction = "login"'
					ng-mouseout='currentAction = ""'>Login</a>
			</div>
		</div>
		<div class="home-actionbutton home-actionbutton-mobile" ng-show="!user.loggedIn">
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl=%23%2Fdataexplorer%2Fsearch&typeAuth=trial"
					class="btn btn-try btn-home" role="button">Try Yucca</a>
			</div>
			<div>
				<a href="{{yuccaIntroUrl}}/#/request-work-area"
					class="btn btn-personal btn-home" role="button">Request a Workspace</a>
			</div>
			<div>
				<a
					href="{{_baseUrl}}/api/authorize?returnUrl={{currentUrl()}}&typeAuth=personal"
					class="btn btn-login btn-home" role="button">Login</a>
			</div>
		</div>
	</div>
	<div class='home-welcome-right'>
		<div class='home-welcome-intro-panel' ng-if='!currentAction'>
			<p>Yucca la smart data platform of the Piedmont Region,
			created by CSI Piemonte with open source and usable technologies
			in the cloud.</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "smartObject"'>
			<p>You can manage or create new SmartObject</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "dataset"'>
			<p>You can manage or create new Dataset</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "stream"'>
			<p>You can manage or create new Stream</p>
		</div>
		<div class='home-welcome-intro-panel' ng-if='currentAction == "data"'>
			<p>
				You can search and access the datasets via <strong> API </strong>

			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "request-work-area"'>
			<p>
				If you are a <strong> company </strong>, a <strong> public
				administration </strong> or a private <strong> citizen </strong> you can
				request a personal workspace on the platform.
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "try-yucca"'>
			<p>
				You can work on Yucca for <strong> 30 days </strong> in one space
				trial. <br> Log in with your <strong> Facebook </strong> or
				<strong> Yahoo! </strong> profile
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "login"'>
			<p>
				Log in to Yucca with your <strong> credentials </strong>
			</p>
		</div>
		<div class='home-welcome-intro-panel'
			ng-if='currentAction == "subscription"'>
			<p>
				You can subscribe to private datasets to <strong> enjoy the data via API </strong>
			</p>
		</div>
	</div>
</div>
