userportal/src/main/webapp/js/build_info.js
userportal/src/main/webapp/index.html
userportal/src/main/resources/prodOld/web.xml
userportal/src/main/resources/prodOld/client.properties
userportal/src/main/resources/prodOld/server.properties
userportal/src/main/resources/prodOld/authorization-example.properties
userportal/src/main/resources/prod/web.xml
userportal/src/main/resources/prod/authorization-example.properties
userportal/src/main/resources/intOld/web.xml
userportal/src/main/resources/intOld/authorization-example.properties
userportal/src/main/resources/prod/client.properties
userportal/src/main/resources/intOld/client.properties
userportal/src/main/resources/prod/server.properties
userportal/src/main/resources/prod/server.properties
userportal/src/main/resources/prod/client.properties
userportal/src/main/resources/prod/authorization-example.properties
userportal/src/main/resources/int/authorization-example.properties
userportal/src/main/resources/int/web.xml
userportal/src/main/resources/intOld/server.properties
userportal/src/main/resources/prod/server.properties
userportal/src/main/resources/int/web.xml
userportal/src/main/resources/prod/server.properties
userportal/src/main/resources/prod/server.properties
userportal/src/main/resources/prod/server.properties
backoffice/.settings/
userportal/.settings/
