<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<div ng-controller="DataSubscriptionsCtrl as subscriptionsCtrl" ng-cloak>
	<div class='page-top-panel'>
		<div class="title-container" ng-cloak>
			<h3 class='container'>
				{{'SUBSCRIPTIONS_TITLE'|translate}}
			</h3>
		</div>
	</div>	
	<div class="container">
		<div class="modal-body table-responsive" ng-show="applicationList">
			<div class='loadingPanel' ng-show="updating">
				<div><span translate>WAIT</span></div>
				<div><span class='ajax-loading-big'></span></div>
			</div>
			<h4><span translate>DATA_EXPLORER_APPLICATIONS_LIST_TITLE</span></h4>
		
			<div class='subpanel'>
				<div class="alert alert-danger alert-dismissible" ng-show='errorMessage'>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="clearMessages()"><span aria-hidden="true">&times;</span></button>
					<strong translate>WARNING_TITLE</strong> {{errorMessage|translate}}
				</div>
				<div class="alert alert-success alert-dismissible" ng-show='updateMessage'>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="clearMessages()"><span aria-hidden="true">&times;</span></button>
					{{updateMessage|translate}}
				</div>
				<table class="table table-application-api">
					<thead>
						<tr>
							<th><span translate>APPLICATIONS_NAME</span></th>
							<th><span translate>APPLICATIONS_DESCRIPTION</span></th>
							<th colspan="3">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="application in applicationList">
							<td class='slim-td'>{{application.name}}</td>
							<td>
								<span ng-show="!application.isEditing">{{application.description}}</span>
								<input ng-show="application.isEditing" class="input-sm form-control" type="text" name="editedDescriptions{{$index}}"  
											                		ng-model="editedDescriptions[$index]" placeholder="{{'APPLICATIONS_DESCRIPTION'|translate}}">
							</td>
							<td	class='icon-td'>
								<a ng-show="!application.isEditing" href ng-click='startEditApplication($index)' class="btn btn-icon-edit btn-sm" title="{{'EDIT'|translate}}" ng-disable="!application.isBusy">
									<i class='glyphicon glyphicon-pencil'></i>
								</a>
								<a ng-show="application.isEditing" href ng-click='saveEditApplication($index)' class="btn btn-icon-add btn-sm" title="{{'SAVE'|translate}}" ng-disable="!application.isBusy"><i class='glyphicon glyphicon-ok'></i></a>
							</td>
							<td class='icon-td'>
								
								<!-- <a  ng-show="!application.isEditing" href ng-click='removeApplication($index)' class="btn btn-icon-remove btn-sm" title="{{'DELETE'|translate}}" ng-disable="!application.isBusy">
									<i class='glyphicon glyphicon-trash'></i>
								</a>-->
								<a ng-show="application.isEditing" href ng-click='cancelEditApplication($index)' class="btn btn-icon-plus btn-sm" title="{{'UNDO'|translate}}" ng-disable="!application.isBusy"><i class='glyphicon glyphicon-repeat'></i></a>
							</td>
							<td class='slim-td'>
								<a ng-show="!application.isEditing" href ng-click='viewSubscription(application.id, application.name)' class="btn btn-icon-edit btn-sm" title="{{'SUBSCRIPTIONS_VIEW_TOKEN_AND_DATASET_HINT'|translate}}" ng-disable="!application.isBusy">
									<i class='fa fa-chevron-down caret-icon'></i>
								</a>
							</td>
						</tr>
						<tr ng-repeat-end ng-show="isShowSubscription(application.id)">
							<td colspan="5" " class='subscriptions-tokens-col'>
								<div class='subscriptions-tokens-panel'>
									<span ng-show="!haveSubscription(application.id)" translate>SUBSCRIPTIONS_ALERT_NO_SUBSCRIPTION</span>
									<div ng-show="haveSubscription(application.id)">
										<div ng-repeat="sub in subscriptionList">
											<div class="row">
												<div class='col-sm-6'>
													<label><span translate>SUBSCRIPTIONS_ACCESS_TOKEN</span></label>
													<span>{{sub.prodKey}}</span>
												</div>
												<div class='col-sm-6'>
													<label><span translate>SUBSCRIPTIONS_TOKEN_VALIDITY</span></label>
													<span><input class="input-sm" size="16" type="text" name="validityTime" ng-model="validityTime" placeholder="{{'SUBSCRIPTIONS_TOKEN_VALID_PLACEHOLDER'|translate}}" /></span>
													<button class="btn btn-primary" type="button" ng-click="generateToken(validityTime)" translate ng-show="sub.prodKey == null">SUBSCRIPTIONS_GENERATE_TOKEN_BTN</button>
													<button class="btn btn-primary" type="button" ng-click="rigenerateToken(validityTime)" translate ng-show="sub.prodKey != null">SUBSCRIPTIONS_RE_GENERATE_TOKEN_BTN</button>
												</div>
											</div>
											<div class="row">
												<div class='col-sm-6'>
													<label><span translate>SUBSCRIPTIONS_CONSUMER_KEY</span></label>
													<span>{{sub.prodConsumerKey}}</span>
												</div>
												<div class='col-sm-6'>
													<label><span translate>SUBSCRIPTIONS_CONSUMER_SECRET</span></label>
													<span>{{sub.prodConsumerSecret}}</span>
												</div>
											</div>
											<div><label><span translate>SUBSCRIPTIONS_API_SUBSCRIBED</span></label></div>
											<div class='subscriptions-api-panel'>
												<table class='table table-only-rows text-left'>
													<thead><tr><th>Context</th><th>Name</th></tr></thead>
													<tbody>
														<tr ng-repeat="api in sub.subscriptions">
															<td>{{api.context}}</td>
															<td>{{api.name}}</td>
														</tr>
													</tbody>
												</table>
												<!-- 
													<div ng-repeat="api in sub.subscriptions" class='subscription-api-panel '>
													
														<img ng-src="{{api.newIcon}}" alt="{{api.name}}" title="{{api.name}}" class="upload-icon-preview-img img-thumbnail">
														<strong>Context</strong> {{api.context}}&
														<strong>Name</strong> {{api.name}}
													</div>
												 -->
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<h4 translate>DATA_EXPLORER_SUBSCRIBE_NEW_APPLICATION_TITLE</h4>
			<div class='subpanel'>
				<form class="form-inline">
					<div class="form-group">
	   					<label for="newApplicationName" translate>APPLICATIONS_NAME</label>
	    				<input class="input-sm form-control" type="text" name="newApplicationName" ng-model="newApplicationName" placeholder="{{'APPLICATIONS_NAME'|translate}}" required="required">
	  				</div>
	  				<div class="form-group">
		    			<label for="newApplicationDescription" translate>APPLICATIONS_DESCRIPTION</label>
		    			<input class="input-sm form-control" type="text" name="newApplicationDescription" ng-model="newApplicationDescription" placeholder="{{'APPLICATIONS_DESCRIPTION'|translate}}">
	  				</div>
	  				<a href ng-click='createApplication()' class="btn btn-icon-plus " title="{{'SAVE'|translate}}" ><i class='glyphicon glyphicon-plus'></i> <span translate>DATA_EXPLORER_SUBSCRIBE_CREATE_APP_BTN</span></a>
				</form>
			</div>
		</div>
	</div>
</div>