<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 Regione Piemonte
-->

<!DOCTYPE html>
<html lang="it">
  <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <base href="/userportal/"> -->
	<title>Smartdataplatform - Cookie Policy</title>
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" type="text/css" href="/userportal/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/userportal/css/app.css">
	<link rel="stylesheet" type="text/css" href="/userportal/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/userportal/css/customization/nivola.css">

	<link href="/userportal/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="/userportal/css/customization/favicon-nivola.png">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script type='text/javascript'>
		if(!console){
			var console = window.console || { log: function() {} };
		}
		if(!console.debug)
			console.debug = window.console.log;
	</script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93560252-3" ng-if='enableAnalitycs'></script>
	<script ng-if='enableAnalitycs'>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-93560252-3', { 'anonymize_ip': true });
	</script>
	<style>
	div {margin-right: 150px; margin-left: 150px; font-size: 18px; font-face:arial;}
	</style>
	
  </head>
  <body>
	<div class='container'>
		<div style ="border-bottom:1px solid black;"><h1>Cookie Policy</h1></div>
		<div><p >I cookie sono piccoli file di testo che il server web deposita sul dispositivo con cui l'utente naviga, senza identificarlo. Un cookie non pu&ograve; leggere dati personali salvati sul disco fisso o file di cookie creati da altri siti, poich&eacute;  le sole informazioni che pu&ograve; contenere sono quelle fornite dall'utente stesso.<br />
			Le pagine di questo sito fanno uso di cookie secondo le modalit&agrave; descritte di seguito:</p>
			<ul>
				<li>
					<strong>cookie tecnici:</strong>  questo sito fa uso di <strong>cookie tecnici</strong>, che non vengono memorizzati in modo persistente sul computer dell'utente e sono necessari per consentire l'esplorazione sicura ed efficiente del sito. Tale uso &eacute;  limitato a cookie di sessione (trasmissione di identificativi di sessione costituiti da numeri casuali generati dal server, come per es: PHPSESSID, JSESSIONID) e in generale a cookie di dominio, come cookie di preferenze utente (es: jfcookie[lang], has_js, site_lang) e cookie di monitoraggio (es: BlueStripe.PVN). L'utilizzo di tali cookie in questo sito viene fatto in modo da evitare il ricorso ad altre tecniche informatiche potenzialmente pregiudizievoli per la riservatezza della navigazione degli utenti, non consentendo l'acquisizione di dati personali identificativi dell'utente.<br />
				</li>			
			</ul>
			<p>La navigazione sul portale comporta l&rsquo;accettazione delle condizioni d&rsquo;uso, comprese le funzionalit&agrave;  legate ai cookie che possono essere disabilitati utilizzando le opzioni specifiche presenti nei vari tipi di browser. Salvo quanto sopra indicato, questo sito non fa uso di altri cookie per la trasmissione di informazioni di carattere personale e non utilizzano altri sistemi per il tracciamento degli utenti.</p>
			<p>Va infine ricordato che, quando si condividono contenuti e articoli sui social network (es. Facebook, Twitter, Google Plus,...), si accede direttamente ai loro siti, che possono impostare a loro volta i propri cookie.</p>
			<h2>Come disabilitare i cookie (opt-out)</h2>
			<p>La maggior parte dei browser accettano i cookies automaticamente, ma &eacute;  possibile rifiutarli. Se non si desidera ricevere o memorizzare i cookie, si possono modificare le impostazioni di sicurezza del browser (Internet Explorer, Google Chrome, Mozilla Firefox, Safari Opera, ecc...). Ciascun browser presenta procedure diverse per la gestione delle impostazioni.<br />
				Normalmente &eacute;  necessario accedere alla sezione &quot;opzioni/impostazioni/preferenze avanzate&quot; del browser e qui accedere ad una sezione intitolata &quot;Privacy/Sicurezza/Dati&quot;. A seconda del browser, &eacute;  possibile bloccare tutti i cookie, scegliere di bloccare solo quelli delle terze parti oppure ancora far s&igrave;  che i cookie vengano cancellati alla chiusura del browser.</p></div>
      
        </div>
	</div>
  </body>
</html>