<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 Regione Piemonte
-->

<!DOCTYPE html>
<html lang="it">
  <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <base href="/userportal/"> -->
	<title>Smartdataplatform - Informativa Privacy</title>
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" type="text/css" href="/userportal/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/userportal/css/app.css">
	<link rel="stylesheet" type="text/css" href="/userportal/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="/userportal/css/customization/nivola.css">

	<link href="/userportal/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="/userportal/css/customization/favicon-nivola.png">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<script type='text/javascript'>
		if(!console){
			var console = window.console || { log: function() {} };
		}
		if(!console.debug)
			console.debug = window.console.log;
	</script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-93560252-3" ng-if='enableAnalitycs'></script>
	<script ng-if='enableAnalitycs'>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		
		gtag('config', 'UA-93560252-3', { 'anonymize_ip': true });
	</script>
  </head>
  <body>
	<div class='container'>
		<h1>Informativa Privacy</h1>	
	</div>
  </body>
</html>