<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Smart Data Platform User Portal</display-name>
	<description>
       This is the user portal of The Smart Data Platform
    </description>
	<servlet>
		<servlet-name>AuthorizeServlet</servlet-name>
		<init-param>
			<param-name>Issuer</param-name>
			<param-value>backoffice</param-value>
		</init-param>
		<init-param>
			<param-name>IdpUrl</param-name>
			<param-value>https://int-sso.smartdatanet.it/samlsso</param-value>
		</init-param>
		<init-param>
			<param-name>ConsumerUrl</param-name>
			<param-value>http://int-sdnet-intapi.sdp.csi.it:90/backoffice/api/authorize</param-value>
		</init-param>
		<init-param>
			<param-name>AttributeConsumingServiceIndex</param-name>
			<param-value>162841827</param-value>
		</init-param>
		<init-param>
			<param-name>IdpLoginPageStylePath</param-name>
			<param-value>https://int-userportal.smartdatanet.it/ris/auth/css/auth.css</param-value>
		</init-param>
	</servlet>
</web-app>     
