<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<h4 class='text-center'>PERIODO DI PROVA DELLA PIATTAFORMA SMART DATA PLATFORM TERMINI E CONDIZIONI D&apos;USO</h4>
<p>Quelle che seguono sono i termini e le condizioni (di seguito &quot;Condizioni&quot; ) che regolamentano l&apos;uso dei Servizi e della Piattaforma Smart Data Platform - detta anche Yucca - (di seguito &quot;Piattaforma&quot; ) da parte dell&apos;Utente, come di seguito definito, che ritiene di dover subordinare la richiesta di registrazione sulla piattaforma all&apos;esito positivo del periodo di prova della piattaforma stessa e dei servizi ivi ospitati.</p>
<p>Regione Piemonte, per il tramite del CSI Piemonte, concede, infatti, agli Utenti, la possibilit&agrave; di provare la piattaforma per un periodo pari a 30 giorni solari di calendario, al termine dei quali gli stessi potranno, appunto, decidere se avvalersi o meno della piattaforma e dei servizi presenti sulla piattaforma stessa.</p>
<p>Pu&ograve; avvalersi del periodo di prova solo l&apos;utente inteso come persona fisica.</p>

<h5>ART. 1 - DEFINIZIONI</h5>
<ul>
	<li><strong>&quot;Utente&quot; </strong>: la persona fisica maggiorenne e avente piena capacit&agrave; di intendere e volere che chiede di poter &quot;provare&quot;  la Piattaforma nei termini di seguito specificati;</li>
	<li><strong>&quot;Periodo di prova&quot; </strong>: periodo costituito da 30 giorni solari di calendario nel corso dei quali l&apos;Utente potr&agrave; provare la piattaforma e quei servizi ivi ospitati che gli consentono di caricare ed elaborare i contenuti come di seguito definiti. Durante il periodo di prova sono inibiti all&apos;Utente tutti quei servizi che gli consentono la diffusione di contenuti. (es. il servizio di Pubblicazione);</li>
	<li><strong>&quot;Codici d&apos;Accesso&quot; </strong>: coppia di credenziali rappresentate da una username e da una password che l&apos;Utente gi&agrave; possiede in quanto gi&agrave; Utente di Gmail, Facebook o altri servizi di accesso conformi allo standard OpenID (c.d. &quot;credenziali social&quot; )</li>
	<li><strong>&quot;Caricare&quot; </strong>: atto di trasferire Contenuti, come di seguito definiti,  da un dispositivo o da un&apos;area di memorizzazione nella disponibilit&agrave; del solo Utente, alla Piattaforma utilizzando le Interfacce di Connessione.</li>
	<li><strong>&quot;Elaborare&quot; </strong>: atto dell&apos;Utente di estrarre dei contenuti presenti sulla Piattaforma, applicando algoritmi preconfigurati e/o creati dall&apos;Utente mediante le Interfacce di Connessione, e di creare un nuovo contenuto. Tale contenuto rimane nella sola disponibilit&agrave; dell&apos;Utente che lo ha creato;</li>
	<li><strong>&quot;Contenuti&quot;  o anche &quot;Contenuto&quot; </strong>: testi, immagini, registrazioni audio e/o video, dati e/o infor-mazioni, anche commerciali, inclusi i dati personali, in qualsiasi formato (file o sequenza di byte di altro tipo) che vengono, per quanto concerne il periodo di prova, caricati ed elaborati dagli Utenti utilizzando i Servizi messi a disposizione, da Regione Piemonte, per il tramite del CSI, agli Utenti e/o ai terzi. Rientrano nel concetto di &quot; Contenuti&quot;  / &quot;Contenuto&quot;  anche i datasets e i flussi di dati. Ai contenuti potr&agrave; accedere il solo Utente;</li>
	<li><strong>&quot;CSI&quot; </strong>: CSI-Piemonte, ente strumentale per l&apos;informatica di Regione Piemonte,., con sede in Torino, Corso Unione Sovietica n. 216, P. IVA e numero d&apos;iscrizione al registro delle Imprese di Torino 01995120019, che ha realizzato e gestisce in nome e per conto di Regione Piemonte, la Piattaforma e i Servizi.</li>
	<li><strong>&quot;Interfacce di Connessione&quot; </strong>: interfacce (web, API, ecc.) funzionanti su certe configurazioni di certi dispositivi secondo specifici protocolli e/o standard mediante le quali gli Utenti possono utilizzare i Servizi collegandosi alla Piattaforma attraverso la rete internet.</li>
	<li><strong>&quot;Piattaforma&quot; </strong>: sistema costituito da software e dati funzionanti su dispositivi hardware, denomina-to Piattaforma Smart Data Platform - detta anche Yucca - realizzato e gestito da CSI per conto di Regione Piemonte e accessibile dagli Utenti attraverso la rete internet, incluso il Sito, che rende di-sponibili i Servizi.</li>
	<li><strong>&quot;Regione Piemonte&quot; </strong>: Regione Piemonte con sede in Torino, piazza Castello n. 165, P. IVA 02843860012, C.F. 80087670016.</li>
	<li><strong>&quot;Servizi&quot; </strong>: i servizi cloud offerti dalla Piattaforma secondo il modello PAAS (Platform As A Servi-ce) accessibili all&apos;Utente durante il periodo di prova;</li>
	<li><strong>&quot;Servizio Pubblicazione&quot; </strong>: Servizio che consente agli Utenti di Pubblicare uno o pi&ugrave; Contenuti mediante la Piattaforma. Questo servizio &egrave; inibito all&apos;Utente durante il periodo di prova cos&igrave; come ogni altro servizio  che consente la condivisione dei contenuti con soggetti terzi o la diffusione;</li>
	<li><strong>&quot;Servizio SDP&quot; </strong>: servizio offerto mediante la Piattaforma che consente di caricare, utilizzare e/o elaborare dei Datasets e/o dei Flussi di Dati utilizzando le interfacce di connessione. Sono inibite all&apos;Utente tutte le funzionalit&agrave; (e di conseguenza le interfacce di connessione) che consentono la condivisione dei contenuti con terzi o la loro diffusione attraverso la piattaforma;</li>
	<li><strong>&quot;Software&quot; </strong>: qualunque insieme di istruzioni (programmi e/o dati) interpretabile da un dispositivo per dirigere il funzionamento del suo processore messo a disposizione dell&apos;Utente da CSI, per conto di Regione Piemonte;</li>
	<li><strong>&quot;Tenant&quot; </strong>: area riservata  nell&apos;esclusiva disponibilit&agrave; dell&apos; Utente ;</li>
</ul>

<h5>ART. 2 - OGGETTO</h5>
<p>Regione Piemonte, per mezzo di CSI, mette gratuitamente a disposizione dell&apos;Utente, che intende utilizzarli i servizi disponibili sulla Piattaforma, secondo i termini previsti dalle presenti Condizioni ed i limiti di utilizzo specificati all&apos;art. 1 e 4 sempre delle presenti Condizioni.</p>
<p>Le presenti Condizioni si ritengono conosciute e accettate dall&apos;Utente con comportamento concludente (contrassegnando l&apos;apposita casella &quot;accetto&quot;  all&apos;atto del primo accesso alla Piattaforma)</p>
<p>Tutti i costi di connessione alla rete internet del dispositivo dal quale l&apos;Utente utilizza i Servizi sono a carico dell&apos;Utente.</p>

<h5>ART. 3 - ATTIVAZIONE DEL PERIODO DI PROVA</h5>
<p>L&apos;Utente che desidera provare la piattaforma deve collegarsi al sito smartdatanet.it e compilare il form &quot;contatti&quot;  con i propri dati personali, specificando esplicitamente l&apos;utenza social OpenID che intende utilizzare per l&apos;acceso alla Piattaforma.</p>
<p>In seguito alla sua richiesta di registrazione ricever&agrave; all&apos;indirizzo dichiarato nel form un link di accesso con cui accedere al tenant di prova.</p>

<h5>ART. 4 - SERVIZI</h5>
<p>L&apos;Utente pu&ograve; utilizzare i servizi della Piattaforma senza tuttavia poter condividere i dati o diffonderli. </p>
<p>L&apos;Utente pu&ograve;, infatti, solo caricare i contenuti nell&apos;area &quot;Privata&quot;  usufruendo dei relativi  servizi (accesso alle interfacce di connessione).</p>
<p>Ne consegue pertanto l&apos;inibizione all&apos;Utente, durante il periodo di prova, del servizio di pubblicazione.</p>
<p>L&apos;Utente pu&ograve; fruire di contenuti caricati e resi disponibili in termini di &quot;diffusione&quot;   da altri Utenti.</p>
 
<h5>ART. 5 - TERMINE DEL PERIODO DI PROVA</h5>
<p>Al termine del periodo di prova, la Regione Piemonte, per il tramite del CSI Piemonte, disattiva  l&apos;utenza rimuovendo i contenuti  presenti sulla Piattaforma.</p>
<p>Tali contenuti vengono rimossi anche nell&apos;ipotesi in cui, al termine del periodo di prova, l&apos;Utente chieda di essere registrato sulla piattaforma secondo quanto indicato nell&apos;iter descritto all&apos;art. 3 del regolamento &quot;TERMINI E CONDIZIONI D&apos;USO DELLA PIATTAFORMA SMART DATA PLATFORM&quot; .</p>

<h5>ART. 6 - USO DEI SERVIZI</h5>
<p>Pu&ograve; avvalersi del periodo di prova solo  l&apos;Utente, inteso come  una persona fisica: a tal fine l&apos;Utente deve essere maggiorenne e avere la capacit&agrave; di concludere un contratto vincolante.</p>
<p>L&apos;Utente pu&ograve; usare i Servizi ogni volta che lo desideri quando questi sono disponibili mediante le Interfacce di Connessione.</p>
<p>La tipologia ed il numero dei servizi che Regione Piemonte mette a disposizione degli Utenti, per il tramite del CSI-Pimonte, nel periodo di prova, potrebbe essere oggetto di variazioni: in questi casi Regione Piemonte, si atterr&agrave;, per il tramite del CSI Piemonte, a darne evidenza nel rispetto di  quanto stabilito al successivo art. 19</p>

<h5>ART. 7 -  USO DEI SERVIZI E DELLA PIATTAFORMA: OBBLIGHI DELL&apos;UTENTE</h5>
<p>Nell&apos;usare i Servizi, l&apos;Utente si impegna, anche nel periodo di prova, a:</p>
<ol type="a" >
	<li>non nascondere o rendere irriconoscibile la propria identit&agrave;, o comunque rendere impossibile ricondurre a s&eacute; i Contenuti che procede a Caricare;</li>
	<li>non interrompere, danneggiare o limitare i Servizi, i server o la rete collegata ai Servizi e alla Piattaforma o violare le misure di sicurezza, le procedure, le politiche o le regole della rete collegata ai Servizi, ivi comprese le regole di buon comportamento previste per gli Utenti di servizi utilizzabili attraverso internet (Netiquette);</li>
	<li>non violare intenzionalmente o involontariamente le leggi applicabili in Italia, nel paese in cui si trova l&apos;Utente o altre leggi comunque applicabili alle attivit&agrave; che l&apos;Utente compie, ivi comprese le norme in materia di esportazione di dati o di criptazione;</li>
	<li>non impegnare od occupare la Piattaforma o impedire l&apos;accesso ai Servizi e alla Piattaforma e il loro uso, senza il permesso di Regione Piemonte;</li>
	<li>non simulare d&apos;essere Regione Piemonte o altri;</li>
	<li>non contraffare intestazioni o manipolare in altro modo gli identificatori (inclusi gli URI) con l&apos;intento di falsificare l&apos;origine di qualsivoglia Contenuto trasmesso utilizzando i Servizi;</li>
	<li>verificare con attenzione che le misure di sicurezza adottate sulla Piattaforma da CSI, per conto di Regione Piemonte, siano adeguate rispetto alle proprie necessit&agrave; di garantire la sicurezza e la tutela dei dati personali presenti nei Contenuti che procede a Caricare e/o Pubblicare e non usare i Servizi per Caricare e/o Pubblicare Contenuti che contengono dati personali se le misure di sicurezza adottate non sono adeguate rispetto alle proprie necessit&agrave;.</li>
	<li>non utilizzare contenuti  in violazione di diritti di terzi;</li>
	<li>segnalare eventuali malfunzionamenti della piattaforma all&apos;indirizzo email <i>smartdatanet@csi.it</i>.</li>
</ol>

<h5>ART. 8 -  USO DEI SERVIZI E DELLA PIATTAFORMA: AVVISI ED ESCLUSIONE DI RESPONSABILIT&Agrave; </h5>
<p>Regione Piemonte, per il tramite del CSI, controlla il funzionamento della Piattaforma e dei Servizi dall&apos;Italia e non garantisce che la Piattaforma e i Servizi siano adatti all&apos;uso o accessibili in qualunque zona geografica.</p>
<p>Regione Piemonte, per il tramite del CSI, user&agrave; nella misura ragionevolmente possibile tutte le proprie capacit&agrave; e attenzioni per cercare di mantenere la disponibilit&agrave; della Piattaforma e la funzionalit&agrave; dei Servizi, anche se non garantisce che la Piattaforma e i Servizi siano disponibili in ogni momento.</p>
<p>In particolare, si esclude espressamente qualsiasi responsabilit&agrave; per il caso in cui il malfunzionamento dei Servizi o della Piattaforma dipenda da:</p>
<ul>
	<li>uso non autorizzato o non corretto dei Servizi o della Piattaforma;</li>
	<li>mancato o parziale funzionamento dei dispositivi o delle apparecchiature dell&apos;Utente;</li>
	<li>fatto dipendente dalla responsabilit&agrave; dei fornitori di accesso ad internet o dei gestori delle linee telefoniche;</li>
	<li>malfunzionamenti della rete internet o telefonica;</li>
	<li>accesso non autorizzato alla Piattaforma di Regione Piemonte da parte dell&apos;Utente o da parte di un terzo o alterazioni nella trasmissione dei Contenuti;</li>
	<li>cause di forza maggiore o comunque non dipendenti dalla volont&agrave; o dalla colpa di Regione Piemonte.</li>
</ul>
<p>Regione Piemonte, per il tramite del CSI,  adotta, adeguate misure tecniche, organizzative e di sicurezza per proteggere la Piattaforma e i Servizi nel rispetto di quanto sancito dal D. Lgs. 196/03 e s.m.i in materia di sicurezza informatica e trattamento dei dati personali e sensibili; resta, responsabilit&agrave; esclusiva dell&apos;Utente valutare l&apos;adeguatezza di tali  misure di sicurezza rispetto alla natura dei contenuti  dallo stesso trattati.</p>
<p>Nei contenuti della Piattaforma possono essere presenti link ad altre risorse, alle quali l&apos;Utente potrebbe essere reindirizzato. Tali risorse non sono monitorate o controllate da Regione Piemonte n&eacute; direttamente n&eacute; indirettamente per il tramite del CSI, e pertanto Regione Piemonte non ne &egrave; in alcun modo responsabile di eventuali danni che dovessero derivare dall&apos;Utente o dal terzo che dovesse utilizzare o fare affidamento su tali risorse.</p>
<p>Regione Piemonte fa del proprio meglio affinch&eacute; i Servizi siano facilmente utilizzabili con il maggior numero possibile di Interfacce di Connessione, ma esclude espressamente che i Servizi funzionino con ogni possibile interfaccia di connessione: l&apos;Utente ne &egrave; pertanto consapevole e accetta questo limite di funzionalit&agrave; dei Servizi.</p>
<p>Si esclude espressamente che Regione Piemonte assuma qualsiasi responsabilit&agrave; per le attivit&agrave; svolte dagli Utenti utilizzando i Servizi.</p>

<h5>ART. 9 - USO DEI SERVIZI E DELLA PIATTAFORMA: DIRITTO D&apos;AUTORE</h5>
<p>Fatto salvo quanto segue, la Piattaforma, i Servizi e i Software sono di esclusiva propriet&agrave; di Regione Piemonte, che li rende disponibili corredati dell&apos;originale licenza open as is, mentre i Contenuti di titolarit&agrave; della Regione Piemonte sono rilasciati  in ottemperanza  alle Linee guida sugli Open Data.</p>
<p>Ciascun Contenuto caricato dall&apos; Utente deve essere di propriet&agrave; o nella piena disponibilit&agrave; dell&apos;Utente stesso o dei suoi danti causa.</p>
<p>Per specifici Software o Contenuti possono essere indicati titolari dei diritti e/o regimi d&apos;uso diversi da quelli di cui sopra.</p>
<p>Regione Piemonte autorizza l&apos;Utente ad utilizzare la Piattaforma, i Contenuti, le Interfacce di Connessione e i Software  al solo fine  di utilizzare i Servizi a cui pu&ograve; accedere.</p>
<p>È espressamente escluso e fatto salvo ogni altro diritto.</p>
<p>Le autorizzazioni di cui sopra sono concesse in via non esclusiva e sono revocabili.</p>

<h5>ART. 10 -  USO DEI SERVIZI E DELLA PIATTAFORMA: SEGNI DISTINTIVI</h5>
<p>&quot; Smart Data Net&quot;  e &quot;Yucca - Smart Data Platform&quot;  sono segni distintivi di Regione Piemonte.</p>
<p>Gli altri segni distintivi presenti nella  Piattaforma  sono di propriet&agrave; dei rispettivi titolari.</p>

<h5>ART. 11 -  USO DEI SERVIZI E DELLA PIATTAFORMA: SEGNALAZIONE PER VIOLAZIONE DI DIRITTI</h5>
<p>Se l&apos;Utente &egrave; certo che un Contenuto, presente sulla piattaforma, viola un proprio diritto o un diritto di terzi, pu&ograve; farne segnalazione a Regione Piemonte, all&apos;indirizzo <i>smartdatanet@csi.it</i> indicando: il Contenuto in questione, l&apos;URL al quale &egrave; visibile, chi assume essere titolare dei diritti sul Contenuto, il diritto violato e la prova della violazione di tale diritto.</p>
<p>Se Regione Piemonte riterr&agrave; la segnalazione manifestamente fondata, provveder&agrave; a rimuovere il Contenuto o a disabilitarne l&apos;accesso entro un termine ragionevole; Regione Piemonte provveder&agrave; alla rimozione del contenuto o alla disabilitazione dell&apos;accesso immediatamente in tutti i casi in cui  l&apos;Utente allegher&agrave; alla segnalazione anche l&apos; ordine dell&apos;autorit&agrave; competente.</p>
<p>Regione Piemonte si riserva la facolt&agrave;, ma non l&apos;obbligo, di contattare (secondo ragionevolezza e buona fede) chi risulta titolare dei diritti sul Contenuto al fine di consentirgli di esporre le sue ragioni. </p>
<p>L&apos;Utente prende atto che, ove segnali infondatamente che un Contenuto viola un proprio diritto o un diritto di terzi, lo stesso  risponder&agrave;  di tutti i danni conseguenti e derivanti dall&apos;errata segnalazione; l&apos;utente s&apos;impegna, infatti, a manlevare la Regione Piemonte e il CSI Piemonte da ogni eventuale contestazione o richiesta di risarcimento danni a qualsiasi titolo avanzata da terzi (compresi altri utenti).</p>
<p>Tale manleva viene altres&igrave; garantita a Regione Piemonte e al CSI Piemonte dall&apos;Utente che ha effettivamente pubblicato il contenuto lesivo dei diritti di terzi.</p>

<h5>ART. 12 - CONTENUTI: DICHIARAZIONE DELL&apos;UTENTE</h5>
<p>L&apos;Utente dichiara, ad integrazione di quanto previsto al precedente art. 9 delle presenti condizioni,  di disporre pienamente e legittimamente di tutti i diritti relativi ai Contenuti (a titolo esemplificativo ma non esaustivo: diritti d&apos;autore, diritti di immagine e/o della personalit&agrave; in genere, diritti di privativa, diritti di tutela della riservatezza, diritti relativi al ritratto ecc.) che procede a Caricare.</p>
<p>L&apos;Utente dichiara espressamente che l&agrave; dove egli non sia pienamente titolare di diritti sui Contenuti che procede a Caricare, lo stesso &egrave; stato in ogni caso espressamente autorizzato a disporre dei Contenuti dai terzi, titolari di tali diritti.</p>
<p>L&apos;Utente si impegna, in ogni caso, a non Caricare e/o utilizzare contenuto :</p>
<ul>
	<li>falso, osceno, pornografico, diffamatorio, o include informazioni razziste, violente, offensive, moleste, o istiga a commettere reati o comunque illegale in Italia o nel luogo in cui l&apos;Utente usa i Servizi o la Piattaforma o in base ad altre leggi comunque applicabili;</li>
	<li>che viola le norme in materia di trattamento dei dati personali o in materia di tutela delle informazioni segrete;</li>
	<li>che presuppone il possesso in capo all&apos;Utente di autorizzazioni, diritti o requisiti richiesti dalla legge di cui questi non dispone;</li>
	<li>che viola brevetti, marchi, diritti d&apos;autore o altri diritti di terzi;</li>
	<li>che contiene virus informatici o qualsiasi programma o software progettato per interrompere, distruggere, danneggiare o anche solo limitare le funzionalit&agrave; di qualsiasi software, hardware o apparato di rete o dei Servizi o della Piattaforma stessi;</li>
	<li>che sia in qualunque modo dannoso per Regione Piemonte, per gli Utenti e/o per i terzi.</li>
</ul>
<p>L&apos;Utente garantisce la buona qualit&agrave; dei Contenuti che procede a Caricare e l&apos;adeguatezza degli stessi all&apos;uso al quale sono destinati.</p>

<h5>ART. 13 - CONTENUTI: AVVISI ED ESCLUSIONE DI RESPONSABILIT&Agrave; </h5>
<p>In nessun caso Regione Piemonte  e/o  CSI saranno ritenuti responsabili dei Contenuti che l&apos;Utente procede a Caricare incluso, a titolo non esaustivo, il caso in cui si verifichino errori od omissioni nei Contenuti stessi; perdita e/o danneggiamento di qualsiasi Contenuto.</p>
<p>L&apos;Utente riconosce e accetta che Regione Piemonte non fornisce un servizio di backup dei Contenuti che l&apos;Utente procede a Caricare.</p>
<p>Regione Piemonte non esegue, n&eacute; direttamente n&eacute; per il tramite del CSI, alcun controllo sui Contenuti che l&apos;Utente procede a Caricare, sebbene Regione Piemonte si riservi il diritto, ove venga a conoscenza del fatto che un Contenuto &egrave; illecito o comunque lede diritti di terzi, di rimuoverlo dalla Piattaforma e cancellarlo.</p>
<p>In ogni caso Regione Piemonte si riserva il diritto di modificare e/ o eliminare Contenuti che violino le presenti Condizioni o che contengano materiale pubblicitario di terzi.</p>

<h5>ART. 14 - AUTORIZZAZIONE ALL&apos;USO DEI DATI PERSONALI</h5>
<p>L&apos;Utente d&agrave; atto d&apos;aver letto l&apos;Informativa sulla Policy della Piattaforma che si intende qui richiamata e che pertanto forma parte delle Condizioni ed acconsente al trattamento dei propri dati personali nei termini ivi indicati.</p>
<p>L&apos;Utente si impegna a trattare i dati personali presenti nei Contenuti che acquisisce e/o procede a Caricare utilizzando i Servizi nel rispetto pieno delle norme sulla privacy applicabili.</p>
<p>In particolare:</p>
<ol type="a" >
	<li>l&apos;Utente che procede a Caricare i contenuti che contengono dati personali, da atto di averne ricevuto consenso dalle persone a cui i dati si riferiscono e di aver loro fornito idonea informativa al trattamento dei dati;</li>
	<li>l&apos;Utente che procede a Utilizzare i contenuti  che contengono dati personali assume la qualit&agrave; di titolare del trattamento di quei dati e s&apos;impegna, oltre alla valutazione di cui all&apos;art. 6 che resta di sua esclusiva competenza e responsabilit&agrave;, a:
	<ol type="i" >
		<li>non comunicare a soggetti terzi e/o diffondere tali dati personali senza il consenso delle persone dei cui dati si tratta;</li>
		<li>fornire idonea informativa al trattamento dei dati alle persone dei cui dati si tratta;</li>
		<li>adottare tutte le misure di sicurezza previste dalle norme applicabili.</li>
	</ol>
</ol>

<h5>ART. 15 - INDENNIT&Agrave; </h5>
<p>L&apos;Utente si impegna a manlevare e tenere indenne Regione Piemonte, i suoi rappresentanti, amministratori, dipendenti e CSI da qualunque richiesta di risarcimento - di qualsiasi natura e a qualunque titolo e modo avanzata   che venga formulata da qualsiasi parte terza:</p>
<ol type="i" >
	<li>in conseguenza di attivit&agrave; poste in essere dall&apos;Utente utilizzando la Piattaforma o i Servizi, o poste in essere da qualunque altra persona che acceda alla Piattaforma o ai Servizi utilizzando le credenziali forti dell&apos;Utente e/o le credenziali degli Utenti delegati;</li>
	<li>in relazione ai Contenuti che l&apos;Utente procede a Caricare.</li>
</ol>

<h5>ART. 16 - GARANZIA E ASSISTENZA</h5>
<p>Poich&eacute; i Servizi sono erogati gratuitamente, &egrave; esclusa qualsiasi garanzia di buon funzionamento degli stessi (che pertanto sono forniti &quot;best effort&quot; ), per il caso del malfunzionamento di questi, nulla &egrave; dovuto da Regione Piemonte all&apos;Utente.</p>
<p>L&apos;Utente riconosce e accetta che nessuna rassicurazione, avviso o informazione inviata oralmente o per iscritto da Regione Piemonte all&apos;Utente pu&ograve; far sorgere una qualsiasi forma di garanzia a favore dell&apos;Utente al di fuori di quelle espressamente previste nelle presenti Condizioni.</p>
<p>Per ogni necessit&agrave; di assistenza l&apos;Utente pu&ograve; contattare l&apos;help desk della Piattaforma scrivendo all&apos;indirizzo <i>smartdatanet@csi.it</i>.</p>

<h5>ART. 17 - ESCLUSIONE DI GARANZIE</h5>
<p>Nel fornire i Servizi Regione Piemonte assume obbligazione di mezzi e non di risultato.</p>
<p>Fatte salve le esplicite garanzie rilasciate ai sensi di queste Condizioni, Regione Piemonte esclude qualunque garanzia, condizione, impegno o dichiarazione di alcun genere, espressa o implicita, di legge o di altra natura o in altro modo correlata ai Servizi o alla Piattaforma, ivi comprese, senza alcuna limitazione, qualsivoglia garanzia o condizione implicita di commerciabilit&agrave;, soddisfacente qualit&agrave;, idoneit&agrave; a uno scopo specifico, di conformit&agrave; o derivante da qualsiasi comportamento, uso o pratica commerciale.</p>
<p>In alcuni stati / alcune giurisdizioni non &egrave; consentita l&apos;esclusione delle garanzie implicite; pertanto, l&apos;esclusione di cui sopra potrebbe non essere applicabile all&apos;Utente, il quale potrebbe pertanto essere titolare di altri diritti stabiliti dalla legge che possono variare da stato a stato o per diverse giurisdizioni.</p>
<p>Senza con ci&ograve; voler limitare il carattere generale di quanto sopra esposto, Regione Piemonte non garantisce che i Servizi o la Piattaforma soddisferanno le richieste dell&apos;Utente o che il loro funzionamento sar&agrave; ininterrotto o privo di errori, n&eacute; che i difetti presenti nei Servizi e nella Piattaforma verranno corretti.</p>

<h5>ART. 18 - LIMITAZIONE DI RESPONSABILIT&Agrave; </h5>
<p>Nella misura massima consentita dalla legge applicabile, in nessun caso Regione Piemonte ovvero  il CSI-Piemonte potranno essere  considerati responsabili nei confronti dell&apos;Utente, o nei confronti di coloro che avanzano rivendicazioni mediante l&apos;Utente, per danni diretti, indiretti, consequenziali, incidentali, speciali o punitivi o per perdite di qualsiasi tipo, ivi incluse, senza pretesa di esaustivit&agrave;, perdita di profitti, perdita di contratti, interruzione dell&apos;attivit&agrave;, perdita o corruzione di dati, qualunque ne sia la causa e indipendentemente dal fatto che si verifichi in sede contrattuale o per illecito civile, negligenza inclusa, anche nel caso in cui Regione Piemonte sia stata avvertita della possibilit&agrave; di tali danni.</p>
<p>Fermo quanto sopra, in ogni caso in cui Regione Piemonte, direttamente o per il tramite del CSI,  venga dichiarata responsabile per perdita o danno la cui entit&agrave; possa essere legittimamente limitata (inclusi i casi in cui il contratto di fornitura dei Servizi sia risolto, dichiarato nullo o comunque sciolto o una limitazione, esclusione, restrizione o altra disposizione contenuta nelle presenti Condizioni sia giudicata nulla per un qualsivoglia motivo da parte di un foro competente), tale responsabilit&agrave;, che sia in sede contrattuale, civile o altro, non potr&agrave; eccedere l&apos;importo di 10,00 euro.</p>
<p>Nulla in queste Condizioni limiter&agrave; la responsabilit&agrave; di Regione Piemonte verso l&apos;Utente per il fatto risultante dal dolo o dalla colpa grave di Regione Piemonte.</p>

<h5>ART. 19 - MODIFICHE</h5>
<p>Regione Piemonte, se ricorre un giustificato motivo (e cio&egrave; per migliorare l&apos;efficienza dei Servizi e/o per migliore la tutela dei diritti di Regione Piemonte, degli Utenti o dei terzi, per far fronte a problemi di sicurezza, per adempiere ad obblighi di legge ovvero rispettare ordini provenienti da pubbliche autorit&agrave;, inclusa l&apos;autorit&agrave; giudiziaria), &egrave; espressamente autorizzata in qualsiasi momento, a propria esclusiva e insindacabile discrezione, a:</p>
<ol type="i" >
	<li>modificare queste Condizioni;</li>
	<li>modificare la Piattaforma e/o i Servizi (compresa la facolt&agrave; di interromperli o di sospenderli, in tutto o in parte);</li>
	<li>disabilitare il tenant di prova dell&apos;Utente e/o modificare o disconnettere temporaneamente o permanentemente la Piattaforma e/o i Servizi (o parte di essi).</li>
</ol>
<p>In questo caso dar&agrave; notizia mediante comunicazione scritta all&apos;Utente all&apos;indirizzo e-mail dallo stesso dichiarato  almeno cinque giorni prima della modificazione.  L&apos;Utente, entro cinque giorni dalla comunicazione della modifica, avr&agrave; la possibilit&agrave; di accettare la modifica oppure di recedere anticipatamente dal periodo di prova.</p>
<p>In ogni caso per&ograve;, continuando ad utilizzare la Piattaforma e/o i Servizi, l&apos;Utente dimostrer&agrave; la sua implicita accettazione delle modifiche apportate.</p>
<p>Nel caso in cui ricorra una giusta causa (come per esempio per far fronte a problemi di sicurezza, per adempiere ad obblighi di legge ovvero rispettare ordini provenienti da pubbliche autorit&agrave;, inclusa l&apos;autorit&agrave; giudiziaria, per tutelare i diritti di Regione Piemonte, degli Utenti o dei terzi ai sensi di legge e/o in conformit&agrave; alle presenti Condizioni) Regione Piemonte potr&agrave; per il tramite del CSI-Piemonte, sospendere o disabilitare il tenant dell&apos;Utente e/o modificare o disconnettere temporaneamente o permanentemente la Piattaforma e/o i Servizi (o parte di essi) anche senza darne preavviso.</p>
<p>Inoltre, Regione Piemonte pu&ograve; in qualsiasi momento, a propria esclusiva e insindacabile discrezione e senza darne avviso all&apos;Utente:</p>
<ol type="i" >
	<li>aggiungere nuove funzionalit&agrave; ai Servizi attualmente disponibili o eliminare funzionalit&agrave; accessorie;</li>
	<li>aggiungere o eliminare Contenuti.</li>
</ol>

<h5>ART. 20 - VARIE</h5>
<ol type="a" >
	<li>
		<strong>Cessione del contratto.</strong><br>
		Regione Piemonte si riserva la facolt&agrave; di cedere il presente contratto con ogni facolt&agrave; prevista nelle Condizioni, inclusa l&apos;autorizzazione all&apos;uso dei Contenuti nei termini previsti da queste Condizioni, ad altro ente che abbia la finalit&agrave; di erogare servizi simili ai Servizi.<br><br>
	</li>
	<li>
		<strong>Soluzione delle controversie, legge applicabile, giurisdizione e competenza.</strong><br>
		In caso di controversia, l&apos;Utente, fallito ogni tentativo di definizione bonaria della questione,  potr&agrave; rivolgersi all&apos;autorit&agrave; giudiziaria ordinaria. Queste Condizioni devono essere interpretate, valutate, e fatte osservare in tutti i sensi secondo il diritto Italiano.</br>
		L&apos;Utente accetta la giurisdizione esclusiva delle Corti Italiane e la competenza esclusiva del foro di Torino.<br><br>
	</li>
	<li>
		<strong>Tolleranza.</strong><br>
		Il fatto che Regione Piemonte non esiga che l&apos;Utente si attenga tassativamente e in ogni momento alle disposizioni delle presenti Condizioni e/o non eserciti uno o pi&ugrave; dei diritti quivi sanciti, non comporta la decadenza da tali diritti o la rinuncia all&apos;esercizio degli stessi da parte di Regione Piemonte.<br><br>
	</li>
	<li>
		<strong>Integrazione.</strong><br>
		Qualora una o pi&ugrave; clausole delle presenti Condizioni fossero o divenissero contrarie a norme giuridiche imperative o di ordine pubblico, esse saranno considerate come non apposte e non incideranno sulla validit&agrave; delle altre clausole delle Condizioni, fatto salvo il diritto di ciascuna parte di chiedere una modifica delle stesse Condizioni.
	</li>
</ol>
<hr>

<h5 class='text-center'>ACCETTAZIONE ESPRESSA</h5>
<p>
Ai sensi e per gli effetti degli articoli 1341 e 1342 c.c. l&apos;Utente dichiara d&apos;aver letto ed espressamente approva le seguenti clausole delle Condizioni:</p>
<p>5. Termine del periodo di prova. 6. Uso dei servizi. 7. Uso dei servizi e della piattaforma: obblighi dell&apos;utenza; 8. Uso dei Servizi e della Piattaforma: avvisi ed esclusione di responsabilit&agrave;, 11. Uso dei Servizi e della Piattaforma: segnalazione per violazione di diritti, 13. Contenuti: avvisi ed esclusione di responsabilit&agrave;, 15. Indennit&agrave;, 16. Garanzia e assistenza, 17. Esclusione di garanzie, 18. Limitazione di responsabilit&agrave;, 19. Modifiche, 20. Varie - lett. (a) Cessione del contratto e lett. (b) Soluzione delle controversie, legge applicabile, giurisdizione e competenza.
Firma
</p>






