body{margin:0 0 1.875rem 0;    font-size: 1.125rem;  font-weight: 400;  line-height: 1.5;  color: #212529;  text-align: left;
	background: #ffffff url(../img/bk_login.jpg) no-repeat right top;background-size: cover;}
	
body, p, div, a, span, h1, h2, h3, h4{ font-family: "Titillium Web", Arial, Verdana, sans-serif;  color: #212529;}

body h1, body .h1 {font-size: 2.5rem; margin-bottom: 1rem; text-align: center;}
body h1, body .h1, body h2, body .h2, body h3, body .h3, body h4, body .h4 { font-weight: 700 !important;}

.header-strip{display: none;}
.header-back{display: none;}
.header-text{display: none;}

.different-login-container{
	margin-top: 3.75rem !important;
    background-color: #fff;
    min-height: 800px;
    -webkit-box-shadow: 7px 7px 12px 1px #dee2e6 !important;
    -moz-box-shadow: 7px 7px 12px 1px #dee2e6 !important;
    box-shadow: 7px 7px 12px 1px #dee2e6 !important;
	padding: 48px 8%; 
	width: 42%;
    position: relative;
}

.brand-site-back{position: absolute; top: 1.25rem; left:15px;}
.brand-site{margin-top: 0; margin-bottom:1.25rem;background: #ffffff url(../img/Logo_Yucca.png) no-repeat center;
    display: block;
    width: 100%;
    height: 107px;}
	
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.arrow-left{display: inline-block;-moz-transform: scaleX(-1); -o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);filter: FlipH; font-weight: bold;}

.AutenticazioneRuparPiemonte{order:1}
.AutenticazioneSistemaPiemonte{order:3}
.AutenticazioneSpid{order:2}

.nospid .AutenticazioneSpid{display:none;}
.nosp .AutenticazioneSistemaPiemonte{display:none;}
.norupar .AutenticazioneRuparPiemonte{display:none;}
.nosmartdata #local_auth_title{display:none;}

.show_login  #local_auth_title{display: block;}
.hide_login  #local_auth_title{display: none;}

.show_login  .login_intro span{display: block;}
.hide_login  .login_intro span{display: none;}
.login_intro{text-align: center; font-size: 1.125rem; margin-bottom: 1rem; min-height: 2.5rem;}

#auth_panel{width: auto;}
.tab-panel{display: flex;}

ul.menu_login{border-bottom: 1px solid #ccc;display: flex; list-style: none; padding: 0; margin: 3.75rem 0 1.25rem 0;}

ul.menu_login .menu_login_link{flex-grow: 1; font-size: 1.4375rem; line-height: 1.5; text-align: center;font-weight: 700; padding: 0 1.2rem;}
ul.menu_login .menu_login_link:hover{cursor: pointer;}
ul.menu_login .menu_login_link .menu_login_label{color: #000;  border-bottom: none; text-decoration: none; }
ul.menu_login .menu_login_link.current .menu_login_label{color: #0066cc; border-bottom: 4px solid #0066cc; text-decoration: none;padding: 0; }

.tab-panel{display: none;margin-top: 1.25rem;    box-sizing: border-box; overflow: unset;}
.tab-panel.current{display: inherit;}
.authItems{display: flex; flex-direction:column; padding:0 8%;}
.authItem {margin: 0.75rem auto; width:100%; }
.different-login-container .authItem a.btn-link{color: #fff; border-radius: 5px; background-clip: padding-box; font-size: 1.3125rem; display: block; margin: 0; width: 100%;  
	float: none; padding: 1.25rem 0 1.25rem  3.75rem ; height: auto;box-sizing: border-box;}
	
.different-login-container .AutenticazioneSistemaPiemonte a.btn-link{background: #0b4989 url(../img/login_SP.png) no-repeat 0.8rem center;}
.different-login-container .AutenticazioneSpid a.btn-link{background: #1265c6 url(../img/login_SPID.png) no-repeat 0.8rem center;}
.different-login-container .AutenticazioneRuparPiemonte a.btn-link{background: #bd5230 url(../img/login_SP.png) no-repeat 0.8rem center;}
.different-login-container .AutenticazioneSocial a.btn-link{background: #49d4f5 url(../img/login_social.png) no-repeat 0.8rem center; width:100%; 
		text-align: left; padding-left: 5.625rem; color: black;}

.different-login-container  .hint-panel{font-size: 0.875rem; color: #0066cc; text-align: right; padding: 0.375rem 0; margin-bottom: 1rem;font-weight: 700;}

.different-login-container #local_auth_accordion{color: #000; background: transparent url(../img/login_SDN.png) no-repeat 0.8rem center; background-color: #dfe6e7; position: relative;}
.different-login-container #local_auth_accordion .accordion_icon {position: absolute; right: 0.8rem; top: 1.55rem; content:"\e114";}
#local_auth_title{padding:0 8%; width: auto;}

#local_auth_div{width: 100%; padding: 0; background-color: #f4f4f4; padding: 1.25rem; box-sizing: border-box;}

#local_auth_div{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

#local_auth_div input[type='text'], #local_auth_div input[type="password"]{background-color: #f4f4f4;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #343d3c;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	box-sizing: border-box;
	line-height: 27px;
	height: 48px;
	-webkit-box-shadow: none;
	box-shadow:none;
	border-radius: 0;
}
#local_auth_div input[type='text']:focus, #local_auth_div input[type="password"]:focus{border-bottom: 2px solid #0066cc;}
#local_auth_div .form-actions{padding: 0; margin: 0}
#local_auth_div .form-actions .btn.btn-primary {width: 100%; background-color: #495057; color: #fff;}
#local_auth_div .control-label{display: none;}
#local_auth_div .form-horizontal .controls{margin-left: 0;}
#local_auth_div .form-horizontal .row{margin: 0;}
#local_auth_div .form-horizontal .span12{width: 100%; float: none; margin-left: 0;} 
#local_auth_div .control-group{margin-bottom: 45px;}
#local_auth_div p{text-align: right;}

.btn{font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5; border-radius: 0; border: none;}
.btn1{border-radius: 0px; font-size: 17px;  padding: 6px 12px;} 
.btn-primary { background: #495057;    color: #fff; }
.btn-primary:hover,.btn-primary:focus {background: #495057;  border: none;}

#social_intro p{font-size: 1.125rem; margin-bottom: 1rem; line-height: 1.5; text-align: center;}

@media (max-width: 767.98px){
	.different-login-container{margin-top: 1.75rem !important; padding: 0 8%; width: 75%;}
	ul.menu_login .menu_login_link {padding: 0 .6rem;}

        .brand-site{margin-top: 66px;}
 ul.menu_login .menu_login_link.current .menu_login_label{padding: 0;}

}
