
.icon-TRADE:before { content: '\e800'; } /* '' */
.icon-TRANSPORT:before { content: '\e801'; } /* '' */
.icon-CULTURE:before { content: '\e802'; } /* '' */
.icon-ECONOMY_FINANCES_TAXES:before { content: '\e803'; } /* '' */
.icon-AGRICULTURE:before { content: '\e804'; } /* '' */
.icon-EMPLOYMENT_TRAINING:before { content: '\e805'; } /* '' */
.icon-ENERGY:before { content: '\e806'; } /* '' */
.icon-ENVIRONMENT:before { content: '\e807'; } /* '' */
.icon-GOVERNMENT:before { content: '\e808'; } /* '' */
.icon-HEALTH:before { content: '\e809'; } /* '' */
.icon-POPULATION_SOCIAL_ISSUE:before { content: '\e80a'; } /* '' */
.icon-PRODUCTION:before { content: '\e80b'; } /* '' */
.icon-SCHOOL:before { content: '\e80c'; } /* '' */
.icon-SCIENCE_TECHNOLOGY:before { content: '\e80d'; } /* '' */
.icon-SECURITY:before { content: '\e80e'; } /* '' */
.icon-SMART_COMMUNITY:before { content: '\e80f'; } /* '' */
.icon-TERRITORY:before { content: '\e810'; } /* '' */
.icon-TOURISM_SPORT:before { content: '\e811'; } /* '' */