<!--
 SPDX-License-Identifier: EUPL-1.2
 (C) Copyright 2019 - 2021 Regione Piemonte
-->

<div class='ol-list'>
    <div class='item'>
        <div>
            <div class='number'>1</div>
        </div>
        <div class='content'>
            <div class='title' translate>rwa_request</div>
            <p translate>rwa_compile_form_desc
                <a routerLink="request-form/company" class="btn btn-primary" translate>rwa_compile_form</a>
            </p>
        </div>
    </div>
    <div class='item'>
        <div>
            <div class='number'>2</div>
        </div>
        <div class='content'>
            <div class='title' translate>rwa_terms</div>
            <p translate>rwa_terms_desc</p>
        </div>
    </div>
    <div class='item'>
        <div>
            <div class='number'>3</div>
        </div>
        <div class='content'>
            <div class='title' translate>rwa_credentials</div>
            <p translate>rwa_credentials_desc</p>
        </div>
    </div>
</div>