<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<div id='userportal-info' ng-cloak>
	<div class='page-top-panel'>
		<div class="title-container" ng-cloak>
			<h3 class='container'>
				{{'INFO_TITLE'|translate}}
			</h3>
		</div>
	</div>	
	<div class='container'>
		<div class="row intro">
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 '>
				<span ng-bind-html="'INFO_INTRO'|translate"></span>
				
				<!-- <color-picker color="project.color"></color-picker> {{project.color}}-->
				
				
	
      
			
			</div>
			<div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 '>
				<div>
					<img src='img/info/html5-logo.png' alt='Github'>
				</div>
				<h2>HTML 5</h2>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 '>
				<div>
					<img src='img/info/css3-logo.png' alt='Github'>
				</div>
				<h2>CSS 3</h2>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 '>
				<div>
					<img src='img/info/js-logo.png' alt='Github'>
				</div>
				<h2>Javascript </h2>
			</div>
		</div>
		<h2>{{'INFO_MAIN_FRAMEWORK_TITLE'|translate}}</h2>
		<div class="row">
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-main'>
						<div><img src='img/info/angularjs-logo.png' alt='AngularJS'></div>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='https://angularjs.org/' target='_blank'>HTML enhanced for web apps!</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-uptitle'><span class='glyphicon glyphicon-th-large angularjs-color'></span>&nbsp;	<span>AngularJS Plugins</span></div>
					<div class='tile-main'>
						<div class='tile-img'>
							<div class='row'>
								<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
									<a href='http://angular-ui.github.io/bootstrap/' target='_blank' title='Angular directives for Boostrap'><span class='angularjs-color'>angular</span>-bootstrap</a>
								</div>
							</div>
							<div class='row'>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-12'>
									<a href='http://angular-translate.github.io/' target='_blank' title='i18n for your Angular apps, made easy'><span class='angularjs-color'>angular</span>-translate</a>
								</div>
							</div>
							<div class='row'>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-12'>
									<a href='https://github.com/cmaurer/angularjs-nvd3-directives' target='_blank' title='Angular Directives for nvd3.js, d3.js charts'><span class='angularjs-color'>angularjs</span>-nvd3-directives</a>
								</div>
							</div>
							<div class='row'>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-12'>
									<a href='http://darul75.github.io/ng-prettyjson/' target='_blank' title='Angular directive pretty json display'><span class='angularjs-color'>ng</span>-prettyjson</a>
								</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-uptitle'><span class='glyphicon glyphicon-th-large  javascript-color'></span>&nbsp;	<span>Useful Client Libraries</span></div>
					<div class='tile-main'>
						<div class='tile-img'>
							<div class='row'>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><a href='http://jmesnil.net/stomp-websocket/doc/' target='_blank'>Stomp</a></div>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8'>STOMP Over WebSocket API</div>
							</div>
							<div class='row'>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><a href='https://freeboard.io/' target='_blank'>Freeboard</a></div>
								<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8'>Visualize the Internet of Things</div>
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
		<h2>{{'INFO_LIBRARIES_TITLE'|translate}}</h2>
		<div class="row">
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile tile-4'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/bootstrap-logo-small.png' alt='Twitter Bootstrap'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='http://getbootstrap.com/' target='_blank'>Get Bootstrap</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3 portalinfo-tile tile-4'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/jquery-logo-small.png' alt='jQuery'>
					</div>
					<div class='tile-subtitle  tile-subtitle-link'><a href='http://jquery.com/' target='_blank'>Write less, do more.</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile tile-4'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/openlayers3-logo-small.png' alt='Openlayer 3'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='http://openlayers.org/' target='_blank'>OpenLayers 3.0</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile tile-4'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/nvd3-logo-small.png' alt='NVD3'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='http://http://nvd3.org/' target='_blank'>Re-usable charts for d3.js</a></div>
				</div>
			</div>
		</div>
	
		<h2>{{'INFO_SOURCE_TOOL_TITLE'|translate}}</h2>
		<div class="row">
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/github-logo-small.png' alt='Github'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='https://github.com/' target='_blank'>Build software better, together.</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/grunt-logo-small.png' alt='GruntJS'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='http://gruntjs.com/' target='_blank'>The JavaScript Task Runner</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/bower-logo-small.png' alt='Bower'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='http://bower.io/' target='_blank'>Package manager for the web</a></div>
				</div>
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile'>
				<div class='tile'>
					<div class='tile-main'>
						<img src='img/info/maven-logo-small.png' alt='Maven'>
					</div>
					<div class='tile-subtitle tile-subtitle-link'><a href='http://maven.apache.org/' target='_blank'>Apache Software Foundation</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
