<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->


<div ng-controller="ManagementStreamCtrl as streamCtrl">
	<div class='container' ng-cloak>
		<h3 class='content-edit-title'><span translate-cloak translate>MANAGEMENT_NEW_STREAM_SUBTITLE</span></h3>
	</div>
	<div class='container' ng-cloak>
		<div class='row'>
			<div class="col-sm-12  wizard-nav" >
				<ul class="nav nav-pills " role="tablist">
				  <li role="presentation" ng-class="{active: currentStep == 'register'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[0].style">
				  		<span class='wizard-step-counter'>1</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_REGISTER</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'requestor'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[1].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>2</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_REQUESTOR</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'detail'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[2].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>3</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_DETAIL</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'components'}" ng-show="extra.selectedSo.soType.idSoType != VIRTUALENTITY_TYPE_TWITTER_ID">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[3].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>4</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_COMPONENTS</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'tweetdata'}"  ng-show="extra.selectedSo.soType.idSoType == VIRTUALENTITY_TYPE_TWITTER_ID">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[3].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>4</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_TWEETDATA</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'share'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[4].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>5</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_SHARE</span> 
				  	</a>
				  </li>
			</ul>
			</div>
		</div>
	</div>
	<p><a href ng-click="provaDire();" style='display: none'>debug</a></p>


	<div class='content-gray'>
		<div class='container'  >
			<div class='alert alert-sandbox ng-hide' ng-show='tenant=="sandbox"' ng-cloak>
				<strong><i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate-cloak translate>WARNING_TITLE</span></strong>&nbsp;&nbsp;<span translate-cloak translate>MANAGEMENT_SANDBOX_WARNING</span>
			</div>
			<alert-panel content='admin_response'></alert-panel>
			
			
			<div class='row'>
				<div class="col-sm-12">
					<carousel id='newDatasetWizard' interval="-1">
						<slide  active="currentStep == 'register'">
							<new-stream-wizard-register></new-stream-wizard-register>
						</slide>
						<slide active="currentStep == 'requestor'">
							<new-stream-wizard-requestor></new-stream-wizard-requestor>
						</slide>
						<slide active="currentStep == 'detail'">
							<new-stream-wizard-detail></new-stream-wizard-detail>
						</slide>
						<slide active="currentStep == 'components'">
							<new-stream-wizard-components></new-stream-wizard-components>
						</slide>
						<slide active="currentStep == 'tweetdata'">
							<new-stream-wizard-tweetdata></new-stream-wizard-tweetdata>
						</slide>
						<slide active="currentStep == 'share'">
							<new-stream-wizard-share></new-stream-wizard-share>
						</slide>
					</carousel>
				</div>
			</div>
		</div>
	</div> 
</div>