<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<div ng-controller="ManagementVirtualentityCtrl as virtualentityCtrl" ng-cloak>
	<div class='container'>
		<!-- <h3 class='entity-title'><span translate-cloak translate>VIRTUALENTITY</span> <small> {{so.virtualEntityName}}</small></h3>-->
		<alert-panel content='admin_response'></alert-panel>
		<div class='clearfix entity-info entity-info-top'>
			<div class='pull-left'>
				<div><small><span translate-cloak translate>VIRTUALENTITY_FIELD_NAME</span></small></div>
				<div class='main-info'><strong>{{so.name}}</strong></div>
			</div>
			<div class='pull-right text-right'>
				<div><small><span translate-cloak translate>VIRTUALENTITY_FIELD_CREATION_DATE</span></small></div>
				<div><strong>{{so.creationdate|smartobject_date_format}}</strong></div>
			
			</div>
		</div>
		<div class='clearfix entity-info entity-info-bottom'>
			<div class='pull-left'>
				<div><small><span translate-cloak translate>VIRTUALENTITY_FIELD_CODE</span></small></div>
				<div class='url'><strong>{{so.socode}}</strong></div>
			</div>
			<div class='pull-right text-right'>
				<div><small><span translate-cloak translate>VIRTUALENTITY_FIELD_TYPE</span></small></div>
				<div><strong title="Type code: {{so.soType.sotypecode}}">{{so.soType.description}}</strong></div>			
			</div>
		</div>
		<div class='clearfix entity-info entity-info-bottom'>
			<div class='pull-left'>
				<div><small><span translate-cloak translate>VIRTUALENTITY_SLUG</span></small></div>
				<div class='url'><strong>{{so.slug}}</strong></div>
			</div>
		</div>
	</div>
	<accordion close-others="false">
		<accordion-group is-open="!status1.open">
			<accordion-heading>
				<div class='container'>
		 			<span translate-cloak translate>MANAGEMENT_EDIT_VIRTUALENTITY_GENERAL</span>
		 			<i class="pull-right glyphicon hide" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>
				</div>
			</accordion-heading>
			<div class='container'>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_DESCRIPTION</span></strong></div>
					<div class="col-sm-10">{{so.description}}</div>
				</div>	
				<div class="row card-row" ng-if="isDevice()">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_CATEGORY</span></strong></div>
					<div class="col-sm-10"><span title="Category code: {{so.soCategory.socategorycode}}">{{so.soCategory.description}}</span></div>
				</div>			
				<div class="row card-row"  ng-if="isDevice()">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_MODEL</span></strong></div>
					<div class="col-sm-10">{{so.model}}</div>
				</div>			
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_STATUS</span></strong></div>
					<div class="col-sm-10"><span title="Status code: {{so.status.statuscode}}">{{so.status.descriptionStatus}}</span></div>
				</div>	
				<div class="row card-row" ng-if='so.twtusername!=null'>
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_TWITTER_USER_NAME</span></strong></div>
					<div class="col-sm-5">{{so.twtusername}}</div>
					<div class="col-sm-3 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_TWITTER_MAX_STREAM</span></strong></div>
					<div class="col-sm-2">{{so.twtmaxstreams}}</div>
				</div>	
			</div>
		</accordion-group>
		<accordion-group is-open="status2.open" ng-show="isDevice()">
			<accordion-heading>
				<div class='container'>
		 			<span translate-cloak translate>MANAGEMENT_EDIT_VIRTUALENTITY_COLLOCATION</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>
				</div>
			</accordion-heading>
			<div class='container'>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_POSITION</span></strong></div>
					<div class="col-sm-1"><span title='Location type code:{{so.locationType.locationtype}}'>{{so.locationType.description}}</span></div>
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_LATITUDE</span></strong></div>
					<div class="col-sm-1">{{so.position.lat}}</div>
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_LONGITUDE</span></strong></div>
					<div class="col-sm-1">{{so.position.lon}}</div>
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_ELEVATION</span></strong></div>
					<div class="col-sm-1">{{so.position.elevation}}</div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_ESPOSITION</span></strong></div>
					<div class="col-sm-1"><span title='Exposure type code:{{so.exposureType.exposuretype}}'>{{so.exposureType.description}}</span></div>
					<div ng-show="so.exposureType.exposuretype=='indoor'">
						<div class="col-sm-2 card-label" ><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_INDOOR_BUILDING</span></strong></div>
						<div class="col-sm-1" >{{so.position.building}}</div>
						<div class="col-sm-2 card-label" ><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_INDOOR_FLOOR</span></strong></div>
						<div class="col-sm-1" >{{so.position.floor}}</div>
						<div class="col-sm-2 card-label" ><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_INDOOR_ROOM</span></strong></div>
						<div class="col-sm-1" >{{so.position.room}}</div>
					</div>
				</div>
			</div>
		</accordion-group>
		<accordion-group is-open="status3.open" ng-show="isDevice()">
			<accordion-heading>
				<div class='container'>
		 			<span translate-cloak translate>MANAGEMENT_EDIT_VIRTUALENTITY_OTHER_INFO</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>
				</div>
			</accordion-heading>
			<div class='container'>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_SUPPLY_TYPE</span></strong></div>
					<div class="col-sm-10"><span title='Supply type code:{{so.supplyType.supplytype}}'>{{so.supplyType.description}}</span></div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_ADMIN_URI</span></strong></div>
					<div class="col-sm-10"><a href="{{so.urladmin}}" target="_blank">{{so.urladmin}}</a></div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY_FIELD_SOFTWARE_VERSION</span></strong></div>
					<div class="col-sm-10">{{so.swclientversion}}</div>
				</div>
			</div>
		</accordion-group>
	</accordion>
	<div class='container'>
		<div class="row text-right" ng-if="isInternal()">
			<i><span translate>MANAGEMENT_VIEW_VIRTUALENTITY_INTERNAL_NOT_MODIFIED_INFO</span></i>
		</div>
		<div class="row card-toolbar" ng-if="!isInternal() && isOwner()">
			<a  href='#' class="btn btn-delete disabled" title="{{'COMING_SOON'|translate}}">
				<span class="glyphicon glyphicon-trash"></span> <span translate-cloak translate>MANAGEMENT_VIEW_VIRTUALENTITY_DELETE_BUTTON</span>
			</a>
			<a  href='#/management/editVirtualentity/{{tenant}}/{{so.socode}}' class="btn btn-edit" ng-if="isAuthorized('management/smartobjects/update')  && !isInternal()">
				<span class="glyphicon glyphicon-pencil "></span> <span translate-cloak translate>MANAGEMENT_VIEW_VIRTUALENTITY_EDIT_BUTTON</span>
			</a>
		</div>
	</div>
</div>