<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<footer id="footer">
    <div class="container ">
        <div class="row ">
            <div class="col-md-3 footer-info">
            </div>
            <div class="col-md-3">
            	<p>&nbsp;</p>
            </div>
            <div class="col-md-6 footer-banner">
            	 <a class="logo-csi " href="http://www.csipiemonte.it " target='_blank'><span class="hidden ">CSI Piemonte</span></a>
            </div>
        </div>
         
        <div class="row footer-menu ">
        	<div class="col-md-3">
            </div>          
            <div class="col-md-3">
            	<a href="mailto:smartdatanet@csi.it "><h3>smartdataplatform@csi.it</h3></a>
            </div>
           <div class="col-md-6">
           		<div class="footer-menu-box"> 
            	 	<ul>
                        <li class="link "><a href="/ris/userportal/legalinfo/informativa-privacy.html" target='_blank'>Informativa Privacy</a></li>
                        <li class="link "><a href="#/info/cookiepolicy" target='_blank'>Cookie Policy</a></li>
                        <li class="link "><a href="https://github.com/csipiemonte/yucca" target='_blank'>Powered by YUCCA</a></li>            
                   	</ul> 
             	</div> 
           </div>
        </div>
    </div>
</footer>


