<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 Regione Piemonte
-->

<ul class="nav navbar-nav navbar-right navbar-with-caret" ng-cloak>
	<li class='main-menu-profile-item main-menu-item-with-caret' ng-if="user.loggedIn"><span class='main-menu-username'>{{user.firstname}} {{user.lastname}}</span><span class='main-menu-tenant'>{{activeTenantCode}}</span></li>
	
	<li class='main-menu-item ' ng-if="!isHomepage && !user.loggedIn">
		<a href='{{_baseUrl}}/api/authorize?returnUrl={{currentUrl()}}' ><span translate-cloak translate class='btn-login'>MENU_SING_IN</span></a>
	</li>
	<li class='main-menu-item main-menu-item-caret' class="dropdown" dropdown ng-if="user.loggedIn &&  !isHomepage">
		  <a href class="dropdown-toggle main-menu-profile-caret"  id="dropdownMenu1" data-toggle="dropdown" dropdown-toggle>
				<span class="fa fa-chevron-down caret-icon"></span>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-if="user.loggedIn">
		 	<li ng-repeat="tenant in user.tenants">
		 		<a ng-click="$parent.changeActiveTenant(tenant)" ng-show="tenant.tenantType.tenanttypecode != 'trial' && tenant.tenantType.tenanttypecode != 'personal'" href="" ng-class="{'indent-dropdownitem-noicon':tenant.tenantcode != activeTenantCode}" >
		 			<i class='glyphicon glyphicon-ok indent-dropdownitem-icon' ng-show="tenant.tenantcode == activeTenantCode"></i>&nbsp;{{tenant.tenantcode}}
		 		</a>
		 	</li>
		   	<li role="presentation" class="divider" ng-show="user.authType != 'social'"></li>
		   	<li role="presentation" ng-show="!user.havePersonalTenant && !info.personalTenantToActivated && user.authType != 'social' && user.authType != 'technical'"><a role="menuitem" tabindex="-1" href="" ng-click="requestTP('personal')"><span translate-cloak translate>MENU_MODAL_GET_PERSONAL_TENANT</span></a></li>
		   	<li ng-repeat="tenant in user.tenants" ng-show="user.havePersonalTenant">
		 		<a ng-click="$parent.changeActiveTenant(tenant)"  ng-show="tenant.tenantType.tenanttypecode == 'personal'" href="" ng-class="{'indent-dropdownitem-noicon':tenant.tenantcode != activeTenantCode}" tooltip="{{'MENU_MODAL_YOUR_PERSONAL_TENANT'|translate}}">
		 			<i class='glyphicon glyphicon-ok indent-dropdownitem-icon' ng-show="tenant.tenantcode == activeTenantCode"></i>&nbsp;{{tenant.tenantcode}}
		 		</a>
		 	</li>
		   	<li ng-show="info.personalTenantToActivated">
		 		<a id='tenantToActivate' tooltip="{{'MENU_MODAL_GOT_PERSONAL_TENANT'|translate}}">
		 			<i class='glyphicon glyphicon-time'></i>&nbsp;{{info.personalTenantToActivated.tenantcode}}
		 		</a>
		 	</li>
		   	<li role="presentation" class="divider"></li>
		   	<li role="presentation" ng-show="!user.haveTrialTenant && !info.trialTenantToActivated"><a role="menuitem" tabindex="-1" href="" ng-click="requestTT('trial')"><span translate-cloak translate>MENU_MODAL_GET_TRAIL_TENANT</span></a></li>
		   	<li ng-repeat="tenant in user.tenants" ng-show="user.haveTrialTenant">
		 		<a ng-click="$parent.changeActiveTenant(tenant)"  ng-show="tenant.tenantType.tenanttypecode == 'trial'" href="" ng-class="{'indent-dropdownitem-noicon':tenant.tenantcode != activeTenantCode}" tooltip="{{'MENU_MODAL_YOUR_TRAIL_TENANT'|translate}}">
		 			<i class='glyphicon glyphicon-ok indent-dropdownitem-icon' ng-show="tenant.tenantcode == activeTenantCode"></i>&nbsp;{{tenant.tenantcode}}
		 		</a>
		 	</li>
		   	<li ng-show="info.trialTenantToActivated">
		 		<a  href=""  tooltip="{{'MENU_MODAL_GOT_TRAIL_TENANT'|translate}}">
		 			<i class='glyphicon glyphicon-time'></i>&nbsp;{{info.trialTenantToActivated.tenantcode}}
		 		</a>
		 	</li>
		 	<li role="presentation" class="divider" ng-if='user.canChangePassword'></li>
		 	<li ng-if='user.canChangePassword'>
		 		<a href='https://sso.smartdatanet.it/UserRecovery/infoRecover/userInfoView?username={{user.username}}' translate>
		 			<span translate-cloak translate>MENU_RESET_PASSWORD</span>
		 		</a>
		 	</li>
		 	<li role="presentation" class="divider"></li>
		 	<li>
		 		<a ng-click="changeLanguage('it')"  href title="{{'MENU_LANG_IT'|translate}}" ng-class="{'indent-dropdownitem-noicon':currentLang() != 'it'}" >
		 			<i class='glyphicon glyphicon-ok indent-dropdownitem-icon' ng-show="currentLang() == 'it'"></i>&nbsp;<img class='lang-icon-menu-item' src='./img/flags/it-small.png'>&nbsp;<span translate>MENU_LANG_IT</span>
		 		</a>
		 	</li>
		 	<li>
		 		<a ng-click="changeLanguage('en')"  href title="{{'MENU_LANG_EN'|translate}}" ng-class="{'indent-dropdownitem-noicon':currentLang() != 'en'}" >
		 			<i class='glyphicon glyphicon-ok indent-dropdownitem-icon' ng-show="currentLang() == 'en'"></i>&nbsp;<img  class='lang-icon-menu-item' src='./img/flags/en-small.png'>&nbsp;<span translate>MENU_LANG_EN</span>
		 		</a>
		 	</li>	
		   	<li role="presentation" class="divider"></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/userportal/api/authorize?logout={{user.username}}&returnUrl={{currentUrl()}}"><span translate-cloak translate>MENU_SING_OUT</span></a></li>
		  </ul>
	</li>
</ul>