<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<footer id="footer">
    <div class="container ">
        <div class="row ">
            <div class="footer-info ">
                <p>Yucca &egrave; parte del progetto Smart Data Net,<br/> un'iniziativa della Regione Piemonte<br/> in collaborazione con CSI-Piemonte</p>
                <p><a href="mailto:smartdatanet@csi.it ">smartdatanet@csi.it</a></p>
            </div>
            <div class="footer-banner ">
                <p>
                    <a class="logo-rp " href="http://www.regione.piemonte.it " target='_blank'><span class="hidden ">Regione Piemonte</span></a>
                    <a class="logo-csi " href="http://www.csipiemonte.it " target='_blank'><span class="hidden ">CSI Piemonte</span></a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-menu ">
        <div class="container ">
            <div class="row ">
                <div class="footer-menu-box ">
                    <ul>
                        <li class="link "><a href="http://smartdatanet.it/informativa-privacy.html">Informativa Privacy</a></li>
                        <li class="link "><a href="#/info/cookiepolicy">Cookie Policy</a></li>
                        <li class="link "><a href ng-click='showReleasenotes()'>Release Notes</a></li>
                        <li class="link ">Currently: v <span app-version></li>
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>


<!--<footer id="footer-family-identity">
	<div class="container" ng-cloak>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-sm-8">
				<p>Smart Data Net &egrave; una iniziativa della Regione Piemonte in collaborazione con CSI-Piemonte</p>
				<p>
					<a class="logo-rp" href="http://www.regione.piemonte.it" target='_blank'><span class="hidden">Regione Piemonte</span></a>
					<a class="logo-csi" href="http://www.csipiemonte.it" target='_blank'><span class="hidden">CSI Piemonte</span></a>
				</p>
			</div>
			<div class="col-xs-12 col-md-4 col-sm-4">
				<ul>
					<li class="link"><a href='http://smartdatanet.it/yucca-cookies-policy.html' target='_blank'>Cookie Policy</a></li>
					<li class="link"><a href='http://smartdatanet.it/informativa-privacy.html' target='_blank'>Informativa Privacy</a></li>
					<li><a href="#/info">About Userportal</a></li>
					<li>Currently: v<span app-version></li>
				</ul>
			</div>
		</div>

	</div>
</footer>-->
