<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 Regione Piemonte
-->

<div class='clearfix wizard-title' ng-cloak>
	<div class='pull-left'><h3><span translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_TITLE</span> -
	 	<strong><span translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_FINISH_SUBTITLE</span> 
			<!-- <a href ng-click='createFakeDataset()'>via {{creationDatasetProgress}}</a> -->
		</strong></h3>
	</div>
	<div class='pull-right'><h3><small>Step 7/7</small></h3></div>
</div>
<div class='import-database-finish'>
	<div class='row import-database-create-metatada-top'>
		<div ng-if="dbImport.status=='ready'">
			<div class='title col-sm-12 text-center'>
				<span translate translate-values="{ totalMetadata: dbImport.total}">MANAGEMENT_IMPORT_DATABASE_FINISH_START_QUESTION</span>
			</div>
			<div class='col-sm-3 col-sm-offset-3 import-database-create-metatada-toolbar'>
				<a ng-click='goToCustomize()' href class="btn btn-default" translate translate-cloak>MANAGEMENT_NEW_DATASET_WIZARD_PREV</a>
			</div>
			<div class='col-sm-3 import-database-create-metatada-toolbar'>
				<a ng-click='continueCreateDataset()' href class="btn btn-default" translate translate-cloak>MANAGEMENT_IMPORT_DATABASE_FINISH_START_BTN</a>
			</div>
		</div>
		<div ng-if="dbImport.status=='running'">
			<div class='title'>
				<div class='ajax-loading '>
					<span translate class=''>MANAGEMENT_IMPORT_DATABASE_FINISH_CREATE_METADATA</span> 
					<span>{{dbImport.currentIndex()}}/{{dbImport.total}}</span>
					<strong>{{dbImport.currentDatasetName}}</strong>
				</div>
			</div>
		</div>
		<div  ng-if="dbImport.status=='pause'">
			<div class="col-sm-8 col-sm-offset-2">
				<div class='alert alert-danger '>
					<div class='subtitle'><span translate>MANAGEMENT_IMPORT_DATABASE_FINISH_ERROR_SINGLE_TITLE</span> <strong> {{dbImport.currentDatasetName}}</strong></div>
					<p ng-bind-html="dbImport.currentError"></p>
				</div>
			</div>
			<div class='col-sm-4 col-sm-offset-2 import-database-create-metatada-toolbar'>	
				<a ng-click='breakCreateDataset()' class="btn btn-default" translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_FINISH_ERROR_SINGLE_BREAK</a>
			</div>
			<div class='col-sm-4 import-database-create-metatada-toolbar'>
				<a ng-click='continueCreateDataset()' class="btn btn-default" translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_FINISH_ERROR_SINGLE_CONTINUE</a>
			</div>
		</div>
		<div ng-if="dbImport.status =='finish'" class='text-left  col-sm-12'>
			<div class='title title-finish'><span translate>MANAGEMENT_IMPORT_DATABASE_FINISH_END_IMPORT_TITLE</span></div>
			<div class='row'>
				<div  class='col-sm-4'> 
					<div class='import-database-create-metatada-finish-report-title import-database-create-metatada-finish-report-title-created' translate='MANAGEMENT_IMPORT_DATABASE_FINISH_END_IMPORT_INFO_CREATED_OK' translate-values="{ datasetCreated: dbImport.totalCreate}"></div>
					<div class='import-database-create-metatada-finish-report-datalist'>
						<div ng-repeat='d in dbImport.datasetCreated track by $index'>
							<a href="#/management/viewDatasource/dataset/{{tenantCode}}/{{d.datasetcode}}/{{d.iddataset}}" target='_blank'>{{d.datasetcode}}</a>
						</div>
					</div>
				</div>
				<div  class='col-sm-4'> 
					<div class='import-database-create-metatada-finish-report-title import-database-create-metatada-finish-report-title-updated' translate='MANAGEMENT_IMPORT_DATABASE_FINISH_END_IMPORT_INFO_UPDATED_OK' translate-values="{ datasetUpdated: dbImport.totalUpdate}"></div>
					<div class='import-database-create-metatada-finish-report-datalist'>
						<div ng-repeat='datasetCode in dbImport.datasetUpdated track by $index'>
							<a href="#/management/viewDatasource/dataset/{{tenantCode}}/{{d.datasetcode}}/{{d.iddataset}}" target='_blank'>{{d.datasetcode}}</a>
						</div>
					</div>
				</div>
				<div class='col-sm-4' ng-if="dbImport.totalKo>0">
					<div class='import-database-create-metatada-finish-report-title import-database-create-metatada-finish-report-title-error' translate='MANAGEMENT_IMPORT_DATABASE_FINISH_END_IMPORT_INFO_KO' translate-values="{ datasetNotCreated: dbImport.totalKo}"></div>
					<div class='import-database-create-metatada-finish-report-datalist'>
						<div ng-repeat='name in dbImport.datasetWithError track by $index'>{{name}}</div>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-3 col-sm-offset-3 import-database-create-metatada-toolbar'ng-if="dbImport.status =='finish'" >	
					<a ng-click='goToStart()' class="btn btn-default" translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_FINISH_BACK_TO_START</a>
				</div>
				<div class='col-sm-3 import-database-create-metatada-toolbar'ng-if="dbImport.status =='finish'" >
					<a href="#/management/datasets/{{tenantCode}}" class="btn btn-default" translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_FINISH_GO_TO_MANAGEMENT</a>
				</div>
			</div>			
		</div>
	</div>
	<div class='row import-database-create-metatada-bottom'>
		<div class='col-sm-8 col-sm-offset-2' ng-if="dbImport.status !='finish'">
			<div class='progress-bar-container'>
				<div class='progress-bar-done' style='width: {{dbImport.progressBar()}}%'></div>
			</div>
		</div>
		<div class='col-sm-2 progress-bar-percent text-center' ng-if="dbImport.status !='finish'">
				{{dbImport.percent()}} &percnt;
		</div>
	</div>

</div>