<!--
SPDX-License-Identifier: EUPL-1.2
(C) Copyright 2019 - 2021 Regione Piemonte
-->

<div class='clearfix wizard-title' ng-cloak>
	<div class='pull-left'><h3><span translate-cloak translate>MANAGEMENT_NEW_DATASET_TITLE</span> - <strong><span translate-cloak translate>MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_SUBTITLE</span></strong></h3></div>
	<div class='pull-right'><h3><small>Step 6/7</small></h3></div>
</div>
	<div class='wizard-step-intro'>
		<div class='icon-hint '><i class='fa fa-lightbulb-o'></i></div>
		<div class='wizard-step-intro-text' ng-bind-html="'MANAGEMENT_IMPORT_DATABASE_STEP_CUSTOMIZE_INTRO'|translate"></div>
	</div>
<div>
	<table class='table text-left import-database-customize-table table-condensed'>
		<thead>
			<tr>	
				<th>&nbsp;</th>
				<th translate>MANAGEMENT_IMPORT_DATABASE_TABLE_NAME</th>
				<th translate>MANAGEMENT_IMPORT_DATABASE_DATASET_INFO</th>
				<th translate>MANAGEMENT_IMPORT_DATABASE_DATASET_STORE_PUBLICATION</th>
				<th translate>MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_DCAT</th>
				<th translate>DATASET_FIELD_METADATA_FIELDS</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='table in tables  track by $index' ng-if="table.importTable" ng-class="{'dataset-customized': isTableCustomized(table.index)}">
				<td>
					<i class='fa fa-table import-database-choose-table-type-icon' title='Table' ng-if='table.tableType == "TABLE"'></i>
					<i class='fa fa-eye import-database-choose-table-type-icon' title='View'  ng-if='table.tableType == "VIEW"'></i>
					<span  class='import-database-table-{{table.status}}'>{{'MANAGEMENT_IMPORT_DATABASE_TABLE_STATUS_'+table.status| translate}}</span>
					&nbsp;&nbsp;
					<span ng-if='isTableCustomized(table.index)'   class='import-database-table-customized' translate>MANAGEMENT_IMPORT_DATABASE_TABLE_CUSTOMIZED</span>
				</td>
				<td>
					{{table.tableName}} 
				</td>
				<td class='editable-table-cell' ng-click="editDatasetName(table.index)" ng-class="{'dataset-element-customized': table.customized.name}">
					 <i class='fa fa-pencil edit-icon'  title='{{"EDIT"|translate}}'></i>
					 <strong>{{table.dataset.datasetname}}</strong>
					 <small ng-if='table.dataset.description!=null'><br>{{table.dataset.description|string_ellipse:120}}</small>
					 <small ng-if='table.dataset.externalreference!=null'><br><i>{{table.dataset.externalreference}}</i></small>
				</td>
				<td class='editable-table-cell' ng-click="editDatasetPublishStore(table.index)" ng-class="{'dataset-element-customized': table.customized.publishStore}">
					<i class='fa f	a-pencil edit-icon'  title='{{"EDIT"|translate}}'></i>
					<span>{{table.dataset.domaincode|translate}}/{{table.dataset.subdomaincode|translate}}</span>
					<span ng-repeat="taglabel in table.dataset.taglabels track by $index">
						<span class="label label-tag label-custom-small"><span>{{taglabel}}</span></span>
					</span>
					<br>

					<span ng-if="table.dataset.unpublished" class='nowrap' title="{{'DATASET_FIELD_UNPUBLISHED_TRUE_HINT'|translate}}"><i class='fa fa-eye-slash'></i> <span translate>DATASET_FIELD_UNPUBLISHED_TRUE</span></span>
					<span ng-if="!table.dataset.unpublished" class='nowrap' title="{{'DATASET_FIELD_UNPUBLISHED_FALSE_HINT'|translate}}"><i class='fa fa-eye'></i> <span translate>DATASET_FIELD_UNPUBLISHED_FALSE</span></span>
					&nbsp;&nbsp;
					<span ng-if="table.dataset.visibility=='public'" class='nowrap'><i class='fa fa-unlock'></i> Public</span>
					<span ng-if="table.dataset.visibility!='public'" class='nowrap'><i class='fa fa-lock'></i> Private</span>
					<br>

					<small ng-if="table.dataset.opendata.isOpendata=='true'">OPENDATA<br></small>
					<small ng-if="table.dataset.sharingTenants.length>0">
						<span translate>MANAGEMENT_IMPORT_DATABASE_TENANT_SHARED</span>{{table.dataset.sharingTenants.length}}<br>
					</small>
					
					<small translate ng-if='table.dataset.license.idLicense && table.dataset.visibility == "public"' title='License'>{{table.dataset.license.idLicense|decodeLicense}}</small>
					<small translate ng-if='table.dataset.license.licensecode && table.dataset.visibility == "public"' title='License'>{{table.dataset.license.licensecode}}</small>
					<small translate ng-if='table.dataset.copyright && table.dataset.visibility == "private"' title='Copyright'>{{table.dataset.copyright}}</small>
				</td>
				<td class='editable-table-cell' ng-click="editDatasetDCat(table.index)" ng-class="{'dataset-element-customized': table.customized.dcat}">
					 <i class='fa fa-pencil edit-icon'  title='{{"EDIT"|translate}}' ng-if='!table.dataset.unpublished'></i>
					<span ng-if='!table.dataset.unpublished'>
						<span ng-if='!checkDcatFields(table)' class='error-validation-icon'>
							<i class='fa fa-exclamation-triangle '></i> 
							<i><small translate>MANAGEMENT_IMPORT_DATABASE_DCAT_UNCOMPLETED</small></i>
						</span>
						{{table.dataset.dcat.dcatrightsholdername}}
					</span>
					<span ng-if='table.dataset.unpublished'><i translate>MANAGEMENT_IMPORT_DATABASE_DCAT_UNEXPECTED</i></span>
				</td>
				<td class='editable-table-cell' ng-click="editDatasetColumns(table.index)" ng-class="{'dataset-element-customized': table.customized.columns}">
					 <i class='fa fa-pencil edit-icon'  title='{{"EDIT"|translate}}'></i>
					{{table.dataset.components.length}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class=" col-sm-12 form-toolbar">
		<a ng-click='goToMetadata()' class="btn " translate-cloak translate>MANAGEMENT_NEW_DATASET_WIZARD_PREV</a>
		<a ng-click='goToFinish()' class="btn btn-wizard-next" ng-disabled="!isOwner() || !checkAllDcatFields()" translate-cloak translate>MANAGEMENT_NEW_DATASET_WIZARD_NEXT</a>
	</div>
</div>


<script type="text/ng-template" id="importDatabaseEditDatasetName.html">
	<div class="modal-body modal-compact">
		<div class="modal-header">
            <h3 class="modal-title" ><span translate >MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_NAME_DESCRIPTION</span> <small>{{table.tablename}}</small></h3>
        </div>
		<div class="modal-body">
			<form class="form-horizontal" name='importDatasaetNameForm'>
  				<div class="form-group">
    				<label for="customizeDatasetName" class="col-sm-2 control-label" translate>DATASET_FIELD_METADATA_NAME</label>
    				<div class="col-sm-10"><input type='text' placeholder='{{"MANAGEMENT_IMPORT_DATABASE_DATASET_NAME"|translate}}' id='customizeDatasetName' class="form-control" ng-model='datasetname'  ng-required="true"></div>
  				</div>
  				<div class="form-group">
    				<label for="customizeDatasetDescription" class="col-sm-2 control-label" translate>DATASET_FIELD_METADATA_DESCRIPTION</label>
    				<div class="col-sm-10"><textarea class="form-control" rows="2"  ng-model='description' id='customizeDatasetDescription' ></textarea></div>
  				</div>
			</form>
		</div>
 		<div class="modal-footer">
 			<button class="btn " ng-click="cancel()" translate>CANCEL</button>
			<button type="submit" class="btn btn-default" ng-click="ok()" ng-disabled="importDatasaetNameForm.$invalid"  translate>OK</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="importDatabaseEditDatasetPublisStore.html">
	<div class="modal-body modal-compact">
		<div class="modal-header">
            <h3 class="modal-title"><span translate >MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_PUBLISH_STORE_DESCRIPTION</span> <small>{{table.tablename}}</small></h3>
        </div>
		<div class="modal-body">
			<form class="form-horizontal" name='importDatasaetPublishStoreForm'>
				<datasource-main-info datasource='defaultMetadata' operation='importDatabase'  ng-if='datasetReady'></datasource-main-info>
				<datasource-detail-info datasource='defaultMetadata' ng-if='datasetReady'></datasource-detail-info>
				<datasource-sharing datasource='defaultMetadata' ng-if='datasetReady'></datasource-sharing>
				<datasource-legal-info datasource='defaultMetadata' ng-if='datasetReady'></datasource-legal-info>
			</form>
		</div>
		<div class="modal-footer">
 			<button class="btn " ng-click="cancel()" translate>CANCEL</button>
			<button type="submit" class="btn btn-default" ng-click="ok()" ng-disabled="importDatasaetPublishStoreForm.$invalid ||  tags.length<1"  translate>OK</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="importDatabaseEditDCat.html">
	<div class="modal-body modal-compact">
		<div class="modal-header">
            <h3 class="modal-title" ><span translate >MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_DCAT</span> <small>{{table.tablename}}</small></h3>
        </div>
		<div class="modal-body">
			<form class="form-horizontal" name="importDatasaetDcatForm">
				<datasource-dcat datasource='dataset' ng-if='datasetReady'></datasource-dcat>
			</form>
		</div>
 		<div class="modal-footer">
 			<button class="btn " ng-click="cancel()" translate>CANCEL</button>
			<button type="submit" class="btn btn-default" ng-click="ok()" ng-disabled="importDatasaetDcatForm.$invalid"  translate>OK</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="importDatabaseEditColumns.html">
	<div class="modal-body modal-compact modal-with-dragdrop">
		<div class="modal-header">
            <h3 class="modal-title" ><span translate >MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_COLUMNS</span> <small>{{table.tableName}}</small></h3>
        </div>
		<div class="modal-body">
			<form class="form-horizontal form-horizontal-compact" name="importDatasaetColumnsForm">
				<datasource-components datasource='dataset' preview='preview'  action='importMetadata' newcomponents='table.newComponents' tablestatus='table.status'></datasource-components>

				<!--
				<div class='row import-database-customize-table-column-header'>
					<div class="col-sm-1"><span  title="{{'MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_COLUMNS_COLUMN_HINT'|translate}}">Info</span></div>
					<div class="col-sm-2"><span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_NAME</span></div>
					<div class="col-sm-2"><span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_ALIAS</span></div>
					<div class="col-sm-2"><span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_DATATYPE</span></div>
					<div class="col-sm-2"><span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_DATATYPE_FORMAT</span> | <span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_UNIT</span></div>
					<div class="col-sm-1"><span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_IS_KEY</span></div>
					<div class="col-sm-1">&nbsp;</div>
					<div class="col-sm-1">&nbsp;</div>
				</div>
				<div  class='row import-database-customize-table-column-droprow' ng-repeat="column in previewColumns" ng-drop="true" ng-drop-success="onDropColumnComplete($data,$index,$event)" 
					 ng-class="{'import-database-customize-table-column-skiprow': column.skipColumn}">
					<div class="col-sm-1 nowrap">
						<i class='fa fa-info-circle column-info-icon' title='{{"MANAGEMENT_IMPORT_DATABASE_CUSTOMIZE_COLUMNS_COLUMN_HINT"|translate}}: {{column.sourceColumnName}}'></i>&nbsp;
						<span class='import-database-column-new' title='{{"MANAGEMENT_IMPORT_DATABASE_TABLES_NEW_COLUMNS_HINT"|translate}}' ng-if="column.isNewField">N</span>
						<i class='fa fa-key primary-key'  title='Primary key' ng-if='column.isKey'></i> 
						<i class='fa fa-key foreign-key'  title='Foreign key: {{column.foreignKey}}' ng-if='column.foreignKey!=null'></i> &nbsp;
					</div>
					<div class="col-sm-2" ><input class="input-sm form-control" type="text" ng-model="column.fieldName" ng-disabled="!column.isNewField || column.skipColumn"  ng-blur="checkColumnName(column.fieldName, $index)"></div>
					<div class="col-sm-2"><input class="input-sm form-control" type="text" ng-model="column.fieldAlias" ng-disabled="column.skipColumn"  ></div>
					<div class="col-sm-2">
						<select class="input-sm form-control" ng-model="column.dataType" ng-disabled="!column.isNewField || column.skipColumn" ng-change="refreshColumnOrder(column)">
							<option ng-repeat="dataType in dataTypeList track by $index">{{dataType.datatypecode}}</option>
			          	</select>
					</div>
					<div class="col-sm-2 animate-show" ng-show="isDateTimeField(column)">
						<div class="input-group input-group-sm popover-html">
							<input class="form-control" type="text" ng-model="column.dateTimeFormat" ng-disabled="!column.isNewField || column.skipColumn" >
						  	<span class="input-group-addon" tooltip-html-unsafe="{{htmlTooltip}}" tooltip-trigger="click">&quest;</span>
						</div>
					</div>
					<div class="col-sm-2 animate-show" ng-show="isCommonField(column)">
					 	<select class="input-sm form-control" ng-model="column.measureUnit" ng-change="refreshColumnOrder()"
							ng-options="measureUnit.measureunit group by measureUnit.measureunitcategory for measureUnit in measureUnitsList track by measureUnit.idMeasureUnit"
      							ng-disabled="!column.isNewField || column.skipColumn">
					 		<option value="" translate-cloak translate>MANAGEMENT_EDIT_STREAM_UNIT_OF_MEASUREMENT_PLACEHOLDER</option> 
					 	</select>
			        </div>
					<div class="col-sm-2 animate-show" ng-show="isCoordinatesField(column)">
					 	<i><small>Format: <code><strong>[lat,lon]</strong></code></small></i>
			        </div>
					<div class="col-sm-1"><label>
						<input type="checkbox" ng-model="column.isKey" ng-disabled="column.skipColumn">
						<span translate-cloak translate>DATASET_FIELD_METADATA_FIELD_IS_KEY_PLACEHOLDER</span></label>
					</div>
					<div class="col-sm-1">
						<label title='{{"MANAGEMENT_NEW_DATASET_SKIP_COLUMN_HINT"|translate}}' ng-class="{'skiprow-disabled': !column.isNewField}">
							<input type="checkbox" ng-model="column.skipColumn" ng-change="refreshColumnOrder()" ng-disabled="!column.isNewField">&nbsp;
							<i class='glyphicon glyphicon-ban-circle skip-row'></i>
						</label>
					</div>
					<div class="col-sm-1">
						<label class="import-database-customize-table-column-drag-panel"  ng-drag="true" ng-drag-data="column.index" ng-drag-success="onDragColumnComplete($data,$event)"  
							 title='{{"MANAGEMENT_NEW_DATASET_MOVE_COLUMN_HINT"|translate}}' ><i class='glyphicon glyphicon-resize-vertical'></i>
						</label>
					</div>
				</div>			-->	
			</form>
		</div>
 		<div class="modal-footer">
 			<button class="btn " ng-click="cancel()" translate>CANCEL</button>
			<button type="submit" class="btn btn-default" ng-click="ok()" ng-disabled="importDatasaetColumnsForm.$invalid"  translate>OK</button>
		</div>
	</div>
</script>





			  

